[2018-01-16 15:37] toliwaga opened #216 "version number 0.51 should be 0.5.1?"
otherwise when we go to version 0.6 it will be less than version 0.51?

[2018-01-17 04:50] bstabler commented on #216
Let's adopt the following [convention](http://the-hitchhikers-guide-to-packaging.readthedocs.io/en/latest/specification.html):

[code]

where MAJOR designates a major revision number for the software, like 2 or 3 for Python. Usually, raising a major revision number means that you are adding a lot of features, breaking backward-compatibility or drastically changing the APIs or ABIs.

MINOR usually

[2018-01-17 05:08] #216 closed, assigned to nobody

[2018-01-30 19:24] bstabler opened #219 "Use compute_accessibility step outputs for downstream expressions"
The compute_accessibility step output table is not currently used for downstream expressions.  The input mtc_skim.h5\skims\accessibility table is used instead.  The compute_accessibility step creates the 'accessibility' table in orca and populates a series of CAPITALIZED fields.  The persons_merged join required for the school_location_sample step adds the input table columns to this table.  These

[2018-02-01 00:58] bstabler opened #220 "pipeline store doesn't handle factors"
Performance (and perhaps memory) suffers for very large datasets when strings could be factors.  This requires some thought as currently pipeline store doesn't handle factors (just numeric and string types).

[2018-02-01 20:39] bstabler opened #221 "be more efficient about memory needs"
for example, store skims as 32bit float instead of 64bit and also smartly reduce other input tables as it makes sense.  The current example (MTC TM1) is around 1450 zones.  ARC has around 5-6k, PSRC 4k, SFCTA 2300, MTC TM2 5k, and SANDAG 5k.

[2018-02-16 04:39] toliwaga opened #223 "small hh sample size causes problems"
For small hh sample sizes (< 100) chooser sets can be empty causing problems for some chunkers and models. Models should be able to handle empty chooser populations for (e.g.) university students.

[2018-02-16 18:02] toliwaga opened #224 "abm/misc.py disables chained_assignment warnings"
It wold be preferable to turn the warnings back on and address the issues explicitly:

warnings.filterwarnings('ignore', category=pd.io.pytables.PerformanceWarning)
pd.options.mode.chained_assignment = None

[2018-02-16 20:11] toliwaga opened #225 "models/cdap.py should use expressions, not add_dependent_columns"
in models/cdap.py dependent columns should be added using expressions, not add_dependent_columns

    pipeline.add_dependent_columns("persons", "persons_cdap")
    pipeline.add_dependent_columns("households", "households_cdap")

[2018-03-17 00:21] bstabler opened #230 "update documentation to use conda install instead of pip to be safe"

[2018-03-30 22:53] lmz opened #231 "Error message misreports config dir as output and data dirs"
https://github.com/ActivitySim/activitysim/blob/b9c51b94e3dae678eb493957e0c3bb307216fde8/activitysim/core/config.py#L48

https://github.com/ActivitySim/activitysim/blob/b9c51b94e3dae678eb493957e0c3bb307216fde8/activitysim/core/config.py#L52

[2018-03-31 07:23] toliwaga commented on #231
Oops! Thanks Lisa. I fixed in the joint-tours I am working on, which I expect will be ready for release in a few days.

[2018-04-20 16:41] bstabler opened #233 "asim integration with commercial travel modeling packages"
Many agencies manage and run their overall travel model through one of the commercial travel modeling packages.  To make integration with activitysim easier for these agencies, we should start to think about how activitysim will integrate with these platforms.

Similar to the [OMX](https://github.com/osPlanning/omx/wiki) effort, which resulted in each major commercial platform supporting OMX, we c

[2018-04-23 23:08] bstabler opened #234 "post simple install / run example script"
The steps to install and run the example are on the [Getting Started](https://activitysim.github.io/activitysim/gettingstarted.html) page and the [Example](https://activitysim.github.io/activitysim/abmexample.html#running-the-example-model) page.  We should include in the repo a simple install and run script so the user doesn't have to refer back to the narrative every time.

[2018-04-23 23:09] bstabler opened #235 "add flow chart of the example model sub-models"
@JilanChen suggested

[2018-04-24 13:30] JilanChen commented on #235
Thank you

[2018-05-14 20:42] bstabler opened #236 "add self-calibration routines"
@guyrousseau - For instance in mode choice, a sub-routine could be added in the source code that allows the user to enter calibration target values, and the program could adjust coefficients until the maximum number of iterations is reached, or the results fall within a user specified closure criteria.  Such sub-routine could also summarize the available person trips and compute an implied mode sh

[2018-05-15 20:55] guyrousseau commented on #236
Thanks Ben for adding this, hence allowing us to potentially explore the option of adding a built-in, self-calibration routine in mode choice calibration, which could systematically adjust constants to match observed transit shares.

[2018-05-22 11:03] toliwaga commented on #225
This was fixed a while ago but I forgot to close this issue

[2018-05-22 11:03] #225 closed, assigned to nobody

[2018-06-05 19:09] bstabler opened #237 "code and use person value of time in the example"
TM1 codes person VOT when reading in the synthetic population files.  The current asim example just uses a global VOT for mode choice expressions, etc.  So, we need to eventually:
  - code person (and household) VOT.  This could be either a new sub-model at the start or an annotation of persons and households before a sub-model.
  - update all the expression files to use the individual VOT

[2018-06-05 19:26] bstabler opened #238 "remove concept of tour category and use only tour primary purpose"
For example, tour category school + person type results in different tour primary purposes --> K-8, high school, university.  It would probably be better to only use tour primary purpose in the Python code so the special knowledge about the interaction of person type and school tours can be removed.  This would make the code more generic and reusable.  The example configuration would need to be up

[2018-06-05 19:40] bstabler opened #239 "clean-up sub-model file dependencies"
Currently each model might refer to a yaml config file, (hard-wired) expression files, coefficient files, annotation files, etc.  To make the code more reusable and to improve documentation, we decided each model will:
 - have a yaml config file
 - the yaml config file will name every dependent file
 - any model using logsums will name the logsums specification yaml file needed as well

We plan to

[2018-06-05 19:41] bstabler commented on #223
I think we fixed this?

[2018-06-05 19:47] toliwaga commented on #223
Yes, but in a branch that hasn't been pulled to master yet.

[2018-06-05 22:27] joecastiglione commented on #237
Would be great to have trip-specific VOTs, based on income as well as other attributes such as trip purpose, occupancy, etc

[2018-06-08 17:33] bstabler commented on #239
See [trip_destination.yaml](https://github.com/ActivitySim/activitysim/blob/master/example/configs/trip_destination.yaml), which is a good example of this functionality starting to be implemented.

[2018-06-08 23:59] bstabler commented on #234
we decided to streamline the [Getting Started](https://activitysim.github.io/activitysim/gettingstarted.html) text instead

[2018-06-09 00:08] #235 closed, assigned to bstabler

[2018-06-09 00:08] #234 closed, assigned to bstabler

[2018-06-09 00:08] #231 closed, assigned to nobody

[2018-06-09 00:08] #223 closed, assigned to toliwaga

[2018-06-19 18:09] bstabler opened #242 "update documentation to better describe handle_standard_args()"
[code]

[2018-10-04 18:26] bstabler opened #244 "ensure non-continuous zone IDs work"
Our current test case, TM1, was setup with a sequential 1 to N understanding of TAZs and therefore we may run into issues with non-continuous zone IDs found in other regions.

[2018-10-04 22:27] toliwaga commented on #244
There is an OffsetMapper object in core.skim that supposedly handles this. (And is tested in a somewhat cursory way in core.test.test_skim.py)

But the SkimDict initialization call in abm.tables.skims currently doesn't pass it in because the mtctm1 test dataset doesn't require it.

[2018-10-19 19:32] toliwaga opened #245 "unicode columns in p2.7 tables causing pytables.PerformanceWarning"
p3 compatibility introduction of unicode constants and strings yields unicode columns in p2.7 tables causing pytables.PerformanceWarning and pickling of data

[2018-12-28 19:51] wusun2 opened #246 "add an option to use max absolute value as shadow pricing convergence criteria"
In many regions, job centers are concentrated in a few areas.  Zones in these areas tend to have large employment.  A max percentage-based convergence criteria doesn't prevent possible large absolute gaps in job center zones.  A max absolute value-based convergence approach gives user more flexibility of controlling the quality of shadow pricing.

[2019-01-25 17:49] toliwaga opened #247 "should write pip freeze into log at start of run"
Should write pip freeze into log at start of run to document code versions for archived runs...

[2019-01-25 20:32] bstabler opened #248 "create step to load input tables from CSV files"
Instead of starting with an HDF5 file containing the following inputs:
  - tazData.csv
  - accessibility.csv
  - hhFile.csv
  - personFile.csv

We'll add them to the settings file and read them in via a new model step.  The current script that does this outside of a formal activitysim run is at https://github.com/ActivitySim/activitysim/blob/shadow/scripts/mtc_inputs.py.

[2019-01-31 01:25] bstabler opened #249 "include example data in pypi version"
https://pypi.org/project/activitysim/

[2019-02-04 21:38] bstabler commented on #219
this was done awhile ago

[2019-02-04 21:38] #219 closed, assigned to nobody

[2019-03-06 00:54] bstabler opened #250 "update work/school location expressions for daysim style shadow pricing"
It's not needed for the verification task since verification focuses on the TM1 implementation (i.e. the ctramp approach to shadow pricing), but the daysim approach needs a couple small fixes.
  - the existing asim implementation calculates the shadow price and then multiplies it by the size term, thereby creating an adjusted size term.  This is how TM1 - ctramp - does it.
  - the daysim approach

[2019-03-11 21:04] bstabler opened #252 "improve shadow pricing configuration"
We currently have two similar, but slightly different, approaches to shadow pricing.  The "ctramp" approach from MTC TM1 and the "daysim" approach from DaySim.  They are similar, but once the modeled zone size gets close to the target, DaySim modifies the shadow price a bit differently + there are also some different user settings for each approach.  Eventually we might want to merge them into one

[2019-03-12 18:02] bstabler commented on #252
Let's not forgot this potential enhancement as well:

*from @wusun2*

Typically zonal employment is total employment by both residents and non-residents; while PopSyn is only residents.  Should we discount the non-resident portion of employment when balancing workers in PopSyn and employment?  Or the SP algorithm already takes care of this?  If not, for smaller study area (geographically), this co

[2019-03-12 18:10] bstabler commented on #250
this issue has migrated to #252

[2019-03-12 18:10] #250 closed, assigned to toliwaga

[2019-03-12 18:11] bstabler commented on #246
see #252

[2019-03-31 18:27] bstabler opened #253 "specific pyyaml version needed"
The example throws a YAML error immediately because yaml.load without specifying the "Loader=" keyword argument is deprecated.  We need to update our usage of pyyaml or specify a specific version in setup.py.  See https://github.com/yaml/pyyaml/issues/265.

[2019-04-03 00:01] bhargavasana commented on #253
I just tried running the example for the first time yesterday and encountered this error. Good to know that this is indeed an issue and that I wasn't running it incorrectly.

[2019-04-04 18:34] bstabler commented on #253
This is now fixed in the `setup.py` file in the [verification-fixes](https://github.com/ActivitySim/activitysim/tree/verification-fixes) branch.  You can reinstall activitysim by cloning this branch and running `python setup.py develop`.  You may need to first `pip uninstall pyyaml`.  The [pypi version](https://pypi.org/project/activitysim/) of the package will be updated once we do an official re

[2019-04-04 23:20] bstabler opened #255 "allow for not shadow pricing grade school like TM1"
TM1 allows for not shadow pricing the grade school segment.  We should add the ability to not shadow price certain segments or maybe set a max iterations by segment?

[2019-04-04 23:25] bstabler opened #256 "Update CDAP person participation selection to be random for remaining persons"
After selecting up to 2 workers and up to the 3 youngest kids, select remaining persons up to 5 randomly like TM1

[2019-04-05 18:47] bettinardi opened #257 "Adding Flexibility for the user to input more household and person values and behavior"
As we consider future scenarios around CVs / AVs / EVs we might want to input given household and person characteristics as inputs and overwrite the "intelligence" in activitysim for a handful of behavior and choices.

Some examples of hh/per aspects that the user might want easier control over:
 - value of time by traveler, would be input at the household and person level as opposed to calculated

[2019-04-08 21:32] bstabler opened #258 "add non-mandatory tour frequency extension"
The individual non-mandatory tour frequency model operates in two stages:
  - First, a choice is made using a random utility model between combinations of tours containing zero, one, and two or more escort tours, and between zero and one or more tours of each other purpose.
  - Second, up to two additional tours of each purpose are added according to fixed extension probabilities.

The first stage

[2019-04-26 23:27] #258 closed, assigned to toliwaga

[2019-04-26 23:27] #256 closed, assigned to toliwaga

[2019-04-26 23:27] #253 closed, assigned to nobody

[2019-04-26 23:27] #249 closed, assigned to bstabler

[2019-04-26 23:28] #242 closed, assigned to bstabler

[2019-04-26 23:28] #239 closed, assigned to toliwaga

[2019-04-26 23:29] #237 closed, assigned to nobody

[2019-04-26 23:29] #230 closed, assigned to bstabler

[2019-05-24 02:12] toliwaga opened #262 "no-checkpoint mode might improve performance for production runs."
When running multiprocess mode on a large server, an option to skip writing of checkpoints to hdf5 might improve performance at the expense of restartability. This would be easy to test...

[2019-05-31 21:07] bstabler opened #263 "multiprocessing slower with python 3 than with python 2"
Our multiprocessing implementation is slower with python 3 than with python 2.  It looks like the most likely culprit is multiprocessing.RawArray.  We'll soon fix this.

[2019-08-29 15:09] toliwaga opened #268 "Provide better feedback when output_dir not found"
If output_dir is not found, output_dir method in core/config.py

`raise RuntimeError("output_dir: directory does not exist")`
resulting in the message:
`RuntimeError: output_dir: directory does not exist`

This is misleading because 'output_dir' is the name of the method raising the error, not the expected name of the directory it isn't finding. Instead, or in addition, should print path that wasn

[2019-09-20 16:22] blakerosenthal opened #269 "Handle multi-index DataFrames in tracing.write_df_csv()"
The following check fails for multi-index DataFrames since `df.index.name` for multi-indices is a list, not a string and therefore `df.index.name in df` is false and the index gets wiped.

OD matrices frequently have a multi `orig, dest` index, so we could consider better handling of multi-indices throughout ActivitySim.

https://github.com/ActivitySim/activitysim/blob/09c3a9e7320640a0515f9ef99a93

[2019-11-04 16:50] danielsclint opened #271 "Core Index Names"
The core dataframes (e.g., households, persons, and TAZ) seem to all expect that the index is set appropriately in the HDF file before it is read into the ActivitySim injector library. If I've interpreted the correctly, it might be nice at some point to reformulate this framework to include the followings:

1. Allow the index to be set after the column maps are applied. Using set_index() in lieu o

[2019-11-04 19:08] bstabler commented on #271
Thanks @danielsclint.  This is in the next work plan - https://github.com/ActivitySim/activitysim/wiki/Phase-5-Scope-of-Work#task-4-input-and-output-improvements.

[2019-11-18 22:00] bstabler opened #272 "add zone shapes to taz input data"
We should store the zone shapes in [WKT](https://en.wikipedia.org/wiki/Well-known_text_representation_of_geometry) format (or other) in the TAZ input data for use in outputs analysis

[2019-12-05 18:12] danielsclint opened #273 "Hard Coded Specification - Mandatory Tour Scheduling"
The specifications for mandatory tour scheduling are hard-coded forcing the school and university specification to use the same specification file. In the Atlanta implementation, school and university use different specifications.

https://github.com/ActivitySim/activitysim/blob/7b57c94e12d27a23f86c8988117e885ae754c44e/activitysim/abm/models/mandatory_scheduling.py#L77-L83

It would nice if the mo

[2019-12-05 19:26] danielsclint opened #274 "Hard Coded Specification - One-Hour Time Intervals"
When converting between time intervals and time-period labels, ActivitySim includes a hard-coded slicing process that assumes one-hour time intervals. The Atlanta model implementation is 30-minute time intervals.

https://github.com/ActivitySim/activitysim/blob/7b57c94e12d27a23f86c8988117e885ae754c44e/activitysim/abm/models/util/expressions.py#L183-L188

[2019-12-09 01:26] bstabler opened #277 "migrate populationsim to activitysim organization"
The purpose of this task is to formally integrate [PopulationSim](https://github.com/RSGInc/populationsim) into the consortium in order to maintain the tool moving forward. Formal integration means:
  - transferring the repository to ActivitySim's GitHub account
  - updating the PopulationSim user guide
  - updating activitysim.org
  - updating any other resources such as the project wiki
  - post

[2019-12-09 01:35] bstabler opened #278 "output_tables function also write hdf5 if desired"
Provide automatic generation of simpler and more typical activity-based model output files such as the final household, person, tour, and trip files. (which basically means adding a CSV or HDF5 option to the output_tables function)

https://github.com/ActivitySim/activitysim/blob/master/example/configs/settings.yaml#L72

[2019-12-09 01:37] bstabler opened #279 "When a logit model is solved, add the ability to get the logsum in addition to the choice"
This is needed for upstream models and model estimation

[2019-12-09 01:39] bstabler opened #280 "add interactive model developer tutorial"
We reviewed the [existing rst user documentation](https://activitysim.github.io/activitysim/gettingstarted.html) and the online runnable Google Colab Jupyter notebooks (which we recently created for [open matrix](https://colab.research.google.com/drive/1PUoNc1o-n1042F-xmTH9MEMxramvduHr)) and decided to create the tutorial in Jupyter notebooks, link to it from the rst user docs, and make sure to ha

[2019-12-09 16:13] bettinardi commented on #278
Hi Ben, I'm interested in following and reviewing this.  I think we said that those that are closely following a topic would be assignees.  I'm currently not an allowed editor on the activitySim github repo, so I can't add myself.  What's the right course of action.? Can you add me?

[2019-12-09 16:42] joecastiglione commented on #278
Alex,

We can make you an owner.

What's your github username?

Thanks,

Joe

[2019-12-10 23:25] blakerosenthal commented on #248
## Task Spec

[PopulationSim](https://github.com/RSGInc/populationsim) currently includes a robust model step called [input_pre_processor](https://github.com/RSGInc/populationsim/blob/master/populationsim/steps/input_pre_processor.py) that does a great job handling CSV inputs. CSVs are read from the data folder and loaded as injected tables according to the [input_table_list](https://github.com/RS

[2019-12-11 17:54] blakerosenthal commented on #278
## Task Spec

The [write_output_tables](https://github.com/ActivitySim/activitysim/blob/7b57c94e12d27a23f86c8988117e885ae754c44e/activitysim/core/steps/output.py#L183) step currently only handles CSV outputs. We will add the option to write all tables into a single HDF5 store of pandas DataFrames via [pandas.to_hdf](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_hdf

[2019-12-13 03:29] danielsclint opened #281 "Hard Coded Specification - Non-Mandatory Tour Types"
Within [tour_frequency.py](activitysim/abm/models/util/tour_frequency.py) and [joint_tour_destination.py](activitysim/abm/models/joint_tour_destination.py), the non-mandatory tour types are hard-coded within the code.

While the ARC model does use the same tour types as MTC, they are implemented slightly differently. The ARC implementation shares the same tour mode choice coefficients across all n

[2019-12-19 23:49] bstabler opened #282 "add support for modeling TNCs and for-hire vehicles"
spec coming soon

[2019-12-19 23:54] bstabler opened #283 "add ability to sort trips in chronological order"
Add fields to the output tables including a sequential trip id in time and space by person in order to sort trips in chronological order for reporting and dynamic traffic assignment (DTA)

[2019-12-19 23:55] bstabler opened #284 "add skim data like tour and trip distance to output files"
Add fields to the output tables including key travel data such as time, distance, and cost via tour and trip annotation expressions

[2019-12-20 00:06] bettinardi commented on #284
I'm hoping for other aspects / detail that occur with in the model as well, as optional outputs.  For me I think of what a survey looks like, and then an augmented survey record.  So let's think about all the fields that are on a household survey and whether or not the ABM can provide them.  And similarly, let's think about all the fields that would exist on an augmented survey.  Specifically I'm

[2019-12-20 01:31] bstabler commented on #279
## Task Spec

If you add an entry to a destination choice or mode choice model settings specifying a logsum column name, it adds one in addition to the choice.  So for example if you add this:

[code]

Then persons will get an additional column with the logsum value.  We're adding this feature to the tour destination choice and tour mode choice models as an example of how to use this functionality

[2019-12-20 02:19] bstabler commented on #284
## Task Spec
The existing annotation functionality is for adding additional data columns to pipeline tables (and output tables if written out).  We've been adding the ability to annotate tables before and after each model step as needed.  An existing example is the [persons workplace location annotation expression file](https://github.com/ActivitySim/activitysim/blob/master/example/configs/annotat

[2019-12-20 02:37] bstabler commented on #284
@bettinardi - I think the table annotation functionality is a good fit for this need.  Appending all the non-chosen alternatives data is also important and we're planning to build this functionality in the upcoming "estimation data bundle" task.  The basic idea of the estimation data bundle task is to read an input household travel survey in activitysim format, join all the necessary choice data i

[2019-12-20 15:17] bettinardi commented on #284
This all sounds fine.  Just noting that my end desired deliverable for this task is not just the functionality with some examples, but also having an example worked up that creates an activitySim default (standard) output table with tables that produce as many fields from household surveys as we can.  Then ideally a second example expression default file that produces an augmented survey output.

[2019-12-20 22:34] danielsclint opened #285 "Large Matrices Result in Integer Overflow"
I thought this problem was eradicated with PR #265. Unfortunately, with really large numbers, the issue still occurs.

https://github.com/ActivitySim/activitysim/blob/7b57c94e12d27a23f86c8988117e885ae754c44e/activitysim/abm/tables/skims.py#L186-L194

The issue is in the [Numpy library np.prod() method](https://docs.scipy.org/doc/numpy/reference/generated/numpy.prod.html). According to the document

[2019-12-23 19:18] gregorkschroeder commented on #284
"key travel data such as time, distance, and cost"

At SANDAG this key travel data is appended to each trip record segmented by mode used on the trip. For example, an inbound Park and Ride to Transit trip has time/dist/cost for the auto access portion of the trip, time/dist/cost for the transit portion, and time/dist/cost for the walk egress portion. This level of granularity for trips is integral

[2019-12-23 19:49] bstabler opened #287 "maybe add command line tools and/or installer for easier use"
setuptools/pip can install simple python-based [command line tools](https://python-packaging.readthedocs.io/en/latest/command-line-scripts.html) with your package.  The open matrix project uses a command line [validator tool](https://github.com/osPlanning/omx/blob/master/omx_validate.ipynb) to validate files against the standard.

We should think about maybe creating one of these for running activ

[2019-12-28 17:19] danielsclint opened #288 "Joint Tour Chunking - Household Participants Need to Remain in Same Chunk"
In the joint tour participation model, its possible for the chunker to split potential joint tour participants from the same household across two different chunks. This will create an endless loop and eventual assertion error in the joint tour participation model.

https://github.com/ActivitySim/activitysim/blob/7b57c94e12d27a23f86c8988117e885ae754c44e/activitysim/core/chunk.py#L217-L229

If a hou

[2019-12-28 17:19] danielsclint commented on #285
Fixed with PR #286.

[2019-12-28 17:19] #285 closed, assigned to nobody

[2019-12-28 17:27] danielsclint opened #289 "Joint Tour Participation - Optimize Two Person Households"
_Disclaimer: This is feature enhancement request. If I understand the code correctly, this should save some time while not impacting the results of the model. If my understanding of the code is incorrect, disregard. This came out of investigating #288._

 If a two person household has been chosen to participate in a joint tour, it doesn't seem necessary to send the two person household participant

[2020-01-01 00:08] bstabler commented on #277
this is done, see https://github.com/ActivitySim/populationsim

[2020-01-01 00:08] #277 closed, assigned to blakerosenthal

[2020-01-10 07:49] bstabler commented on #282
See https://github.com/ActivitySim/activitysim/wiki/Adding-TNCs-to-ActivitySim

[2020-01-10 07:55] bstabler commented on #280
Being developed at https://colab.research.google.com/drive/1OAD7Vs47hkFIuayaEl6etDE3ixNx_Dul

[2020-01-10 19:11] bstabler opened #291 "support list of omx input skims instead of just one big file"

[2020-01-10 19:15] bettinardi commented on #282
Some reactions to looking over the current draft plan -

It's unclear how much is intended to be embedded in the code.  Like tolls.  I think it's fine to have that as an option, but I wouldn't want the model to have a forced assumption that highway/bridge tolls apply to TNC / taxi.

Similar with skims, I wouldn't want to code to always assume that HOV2 skims should be used.  It should be a user in

[2020-01-10 19:19] bettinardi commented on #280
Some reactions -

There's a cloud version and a download version.  I'm not clear from the start of the tutorial what the instructions are guiding.  There should be extra text to really hand hold new people to activitysim and running in the cloud exactly what to do.  Make it really painfully simple.

Input and Output overview should include hyper links to more detail and description on each of thes

[2020-01-10 20:24] bstabler commented on #282
I updated the draft plan to say that the implementation will be done through expression files and settings files and so it will be very flexible.  Users can for example change the type of skims, add/drop tolls, change nesting coefficients and modes, change wait time functions, etc.

[2020-01-10 20:25] bstabler commented on #280
Will do, thanks

[2020-01-10 21:58] bstabler commented on #284
Yes, the goal of the functionality is to be able to append the relevant data you need.  When the time is right, we'll work through some good examples for a multiple zone system model like SANDAG.

[2020-01-14 17:12] bettinardi opened #292 "Consider new TOC for the wiki"
As mentioned at the TRB meeting (1-14-20), I had suggested that the retrospective decisions of ActivitySim are structured on the wiki in a more meaningful way for people that weren't a part of the team / discussions.  It's currently structured by phase and is therefore only meaningful to members who have a rough understanding of what work occurred under each phase.

Joe correctly, asked if I had a

[2020-01-16 01:13] joecastiglione commented on #292
In addition to the wiki, we also have activitysim.org.

We may want to consider publishing more marketing-type project collateral
(such as partners, non-technical narrative accomplishments, direction etc)
to activitysim.org

And directing more project management / technical collateral to
https://github.com/activitysim/activitysim/wiki.  I actually kinda like
having the current workscope at the top

[2020-01-16 15:41] bettinardi commented on #292
I would echo the idea of having different purposes for the wiki versus activitysim.org.  I struggle with when/why I should visit either page.  I would propose that somewhere near the top of each of these pages it references the other and briefly highlights what one should expect to find on each (the wiki versus activitysim.org).

I would also echo the idea to have the most current activity at the

[2020-01-17 16:45] joecastiglione commented on #292
I'm also supportive of a reorg of the project material within and across
activitysim.org and the wiki.  Joe and Alex can get this discussion going
(other interested partners should reach out to Joe to coordinate a separate
meeting time for partners to address these issues).  The goal would be to
come up with some explicit guidance about the purpose of activitysim.org vs
the purpose of the wiki.  T

[2020-01-24 01:18] bstabler commented on #287
Related, maybe we want to build something like an [anaconda constructor](https://anaconda.org/anaconda/constructor) for easier distribution/installation.

[2020-01-24 22:02] bstabler opened #293 "update release process in User's Guide to include creating GitHub releases"
+ link to https://github.com/ActivitySim/activitysim/releases

[2020-01-24 22:03] bstabler opened #294 "add link in docs to issues page for ActivitySim questions/support"

[2020-01-24 22:05] bstabler commented on #280
Some additional requirements based on our 01/24/20 call
  - It will be integrated with the online user's guide to avoid duplication
  - Split into two tutorials - application (auto own example) and development (add TNCs)

[2020-01-29 01:12] bstabler commented on #287
We could also create a command line tool to replace the process of cloning the repo from GitHub in order to get the example.

[code]

[2020-02-04 00:44] bstabler opened #296 "updates for pandas 1.0"
We've run into some pandas compatibility errors and issues with the latest release of pandas.  We need to fix these soon.

[2020-02-12 22:13] bstabler opened #297 "add testing the example on windows to TravisCI"
We test on Linux and I typically also test on my Windows laptop and/or our Windows servers.  We should build this into the build script since [Travis supports Windows](https://docs.travis-ci.com/user/reference/windows/) as well

[2020-02-14 06:41] #274 closed, assigned to bstabler

[2020-02-14 06:41] #273 closed, assigned to bstabler

[2020-02-14 06:42] #296 closed, assigned to blakerosenthal

[2020-02-14 06:42] #248 closed, assigned to blakerosenthal

[2020-02-14 06:43] #278 closed, assigned to bettinardi, blakerosenthal

[2020-02-14 06:43] #271 closed, assigned to blakerosenthal

[2020-02-19 00:39] blakerosenthal opened #299 "Better feedback when file is missing from data_dir"
`populationsim/example_test$ python run_populationsim.py -c configs2`
[code]

[2020-02-27 03:29] bstabler opened #300 "add inherit_settings to user documentation"
To avoid creating a bunch of overlapping/duplicate `settings.yaml` files for different, but similar, scenarios, users can specify a list of config folders in order to use the `inherit_settings: True`  feature in settings.yaml.  This allows for inheriting settings from configs found earlier in the list.

[2020-02-28 02:06] #279 closed, assigned to toliwaga

[2020-02-28 02:06] #293 closed, assigned to bstabler

[2020-02-28 02:07] #294 closed, assigned to bstabler

[2020-02-28 02:09] bstabler opened #301 "Phase 5 Task 3: Support for Two Zone Systems"
https://github.com/ActivitySim/activitysim/wiki/Phase-5-Scope-of-Work#task-3-support-for-two-zone-systems

[2020-02-28 02:10] bstabler commented on #301
whoops, this is supposed to be a milestone, not an issue

[2020-02-28 02:10] #301 closed, assigned to nobody

[2020-03-02 19:26] guyrousseau commented on #282
As part of our regional transit on-board survey, we’re learning more about TNC / for-hire / ride-hailing (Uber / Lyft) as a mode of access and egress to and from transit.  Thus far, we have noticed that more transit passengers are getting to their origin and to their destination by more different types of modes.  This shows with walk access at only about 82% and walk egress at 84%.  This may also

[2020-03-02 21:49] joecastiglione commented on #282
Guy,

Thanks so much for this info, and for sharing the link to the dashboard.

However, I'm sure I'm being an idiot, but I couldn't figure out how to find
the access/egress stats in the dashboard.  Any chance you have 5 min to
talk to set me straight?

Thanks again!

Joe

*Joe Castiglione*
Deputy Director for Technology, Data, and Analysis

sfcta.org <https://www.sfcta.org/> | sign up for our new

[2020-03-02 23:52] bstabler opened #302 "constants class"
We should probably move all these constants from the [constants class](https://github.com/ActivitySim/activitysim/blob/master/activitysim/abm/tables/constants.py) to the settings.yaml and then either drop the constants class completely and its usage and plumbing in the system, or update it so it wraps a CONSTANTS entry in the settings.yaml (similar to how model step CONSTANTS work).

[2020-03-03 00:17] toliwaga commented on #302
yes! happy to wrap this into my current dev effort.

[2020-03-03 13:38] guyrousseau commented on #282
The access / egress tabulations to and from transit are not readily available from the dashboard.  Those were simply cross-tabulated from a raw (preliminary) dataset.

The dashboard is mostly for systemwide indicators, and serves more as a QA/QC monitoring type of tool to manage day-to-day data collection and operations.

[2020-03-03 14:04] JilanChen commented on #282
SEMCOG is conducting a similar regional transit on-board survey like ARC’s. The preliminary data shows that the TNC (Uber/Lyft/etc.) as a mode of access and egress to and from transit is very small. With heavily walk access (91%) and egress (95%) in the region, only 0.15% of passengers are using the TNC service from their origin to their first bus stop or from their last bus stop to their destinat

[2020-03-06 05:27] bstabler opened #303 "separate data from coefficients for estimation mode integration"

[2020-03-06 05:28] bstabler opened #304 "write estimation data bundle for estimating a sub model"

[2020-03-06 14:15] guyrousseau commented on #282
The Union of Concerned Scientists released a study last week estimating that Uber & Lyft generate 70% more pollution than the trips they replace, which are often times transit, bike, and/or walk trips, see interesting numbers and stats:
https://www.ucsusa.org/resources/ride-hailing-climate-risks
Something to keep in mind and account for when modeling TNCs within ActivitySim.

[2020-03-06 22:24] bstabler opened #305 "create annotated plan outline"
This is happening under Phase 5, see the [Meeting Notes](https://github.com/ActivitySim/activitysim/wiki/Meeting-Notes) for summer 2020

[2020-03-06 22:25] bstabler opened #306 "add override choice and run post-processors functionality"
use observed choice from survey instead of simulated choice from model

[2020-03-23 20:34] bstabler opened #307 "log and/or save model run settings for later use"
especially with inheritance of settings files for the multiprocessing setup, it would be handy to log and/or save settings used for the model run in order to review at a later date.

[2020-03-24 14:03] toliwaga commented on #307
I have code for this in the estimation branch that just needs to be hooked up...

[2020-03-24 23:08] blakerosenthal opened #308 "Consolidate table col remaps"
Currently both [core/input.py](https://github.com/RSGInc/activitysim/blob/develop/activitysim/core/input.py#L100) and [models/initialize.py](https://github.com/RSGInc/activitysim/blob/develop/activitysim/abm/models/initialize.py#L63) perform pipeline table column renames during the input/initialize steps. We can remove this from initialize.py and remove the `column_map` option from the [various an

[2020-03-26 22:48] bstabler opened #310 "create output trip matrices from the trips table"
in the same open format that is used for input skims, i.e. [omx](https://github.com/osPlanning/omx) format.

[2020-03-27 03:18] bstabler commented on #247
maybe similar to #307

[2020-03-27 03:21] bettinardi opened #312 "Adding Improved Internal Calculation Reporting"
Ideally Phase 5 Task 4 will include the ability to export / output decisions that are determined internally that may not be getting saved currently.  Examples of valuable information that ActivitySim needs to be able to export:
 - Identifying which traveler is the driver (not just whether the ride is shared or not)
 - Providing the length of time the vehicle is parked, what payment method the driv

[2020-04-03 15:58] albabnoor opened #313 "Input data must not have empty cells"
Empty cells in the landuse data caused the location choice models to not find any alternatives. Replacing the nulls with zero in the landuse data resolved the issue.

[2020-04-10 21:30] blakerosenthal opened #314 "Remove references to Python 2 installations"
Checks for `sys.version_info < (3,)` are no longer necessary:

https://github.com/ActivitySim/activitysim/blob/a3dca1f8280374cc3fa22aa27d0503a20f3bdf58/activitysim/core/config.py#L314
https://github.com/ActivitySim/activitysim/blob/a3dca1f8280374cc3fa22aa27d0503a20f3bdf58/activitysim/abm/tables/skims.py#L40
https://github.com/ActivitySim/activitysim/blob/a3dca1f8280374cc3fa22aa27d0503a20f3bdf58/ac

[2020-04-17 14:32] bstabler opened #315 "create model re-estimation examples"

[2020-05-04 21:51] albabnoor opened #317 "replace chunk size with a more intuitive parameter"
from the user guide, "The chunk_size is the number of doubles in a chunk of the choosers table. It is approximately the number of rows times the number of columns and it needs to be set to a value that efficiently processes the table with the available RAM."

It'd be great if the user could specify the amount of available RAM and the software internally determines the chunk size. It is much more i

[2020-05-18 17:53] danielsclint opened #320 "Naming Conventions for Sub-Model Specification Files"
At some point, it may be useful to develop and settle on official names for the [sub-model specification files](https://activitysim.github.io/activitysim/abmexample.html#sub-model-specification-files) types used in ActivitySim. The documentation does a good job laying out the specific files used for each model, but it always feels a bit clunky trying to reference the overarching theme of the model

[2020-07-08 23:14] albabnoor opened #324 "Auto Sufficiency Definitions in Mode Choice"
In tour_mode_choice.csv, 'Auto Deficient' definition asserts 'auto ownership>0' but the 'Auto Sufficient' definition does not. So if we consider a case where hhsize = 2. num_worker = 0 and auto_ownership = 0, this would wrongfully qualify (df.auto_ownership >= df.num_workers) as an 'Auto Sufficient' household! An instance of this issue can be seen here -

[https://github.com/ActivitySim/activitysi

[2020-07-16 03:55] bstabler commented on #315
See [here](https://github.com/RSGInc/activitysim/tree/develop/activitysim/examples/example_estimation/notebooks)

[2020-07-24 19:44] dabreegster opened #326 "How difficult to run in a new city?"
Hi,

I'm the developer of [A/B Street](https://github.com/dabreegster/abstreet/), a traffic simulator that lets the general public become more involved with influencing local transportation projects. The project needs people/activity/trip data as input; it currently uses Seattle's [Soundcast](https://github.com/psrc/soundcast) model, built on DaySim. Recently groups in other cities are interested

[2020-07-29 00:57] bstabler commented on #326
Hi @dabreegster.  The model requires detailed information on regional households, persons, and land use by zone (or neighborhood), and several detailed measures of network level-of-service by mode and time-of-day from zone to zone (or neighborhood to neighborhood).  An example of the required inputs is at:
 https://github.com/RSGInc/activitysim_resources/tree/master/mtc_data_full.

Let me talk wit

[2020-07-29 01:04] bstabler commented on #315
#325

[2020-07-29 01:05] bstabler commented on #306
#325

[2020-07-29 01:07] bstabler commented on #304
#325

[2020-07-29 01:07] bstabler commented on #303
mostly complete under #325.  the trip models will be refactored this fall.

[2020-07-29 01:09] bstabler commented on #292
Some of this has been completed, see https://github.com/ActivitySim/activitysim/wiki

[2020-07-29 01:10] bstabler commented on #291
@toliwaga - I believe this is in the https://github.com/RSGInc/activitysim/tree/multi_zone branch now?

[2020-07-29 01:10] bstabler commented on #287
#325

[2020-07-29 01:11] bstabler commented on #284
in #325 we added functionality to add additional fields to the output trips table when building the final trip matrices

[2020-07-29 01:13] bstabler commented on #283
we added a notebook example for sorting trips in time/space order, see #325

[2020-07-29 01:13] bstabler commented on #282
#325

[2020-07-29 01:14] bstabler commented on #280
#325

[2020-07-29 01:14] bstabler commented on #272
#325

[2020-07-29 01:15] bstabler commented on #262
This was added and is now in the docs, see #325

[2020-07-29 01:16] bstabler commented on #236
The SEMCOG team (@JilanChen and others) is prototyping some cool functionality for this based on improvements made for estimation integration

[2020-07-29 19:10] toliwaga commented on #291
yes - the whole skims config specification has been expanded to support 1, 2, and 3 zones - and multiple skims file support is included for all.

[2020-07-31 23:24] bstabler opened #327 "larch estimation notebook updates"
Based on use by the SEMCOG team and conversation with @jpn-- , we'll make a few little improvements to the notebook examples:
  - add the number of iterations to the estimate call: m.estimate(method='SLSQP', options={'maxiter’:1000})
  - speed up writing the Excel report: m.to_xlsx(“filename.xlsx", data_statistics=False)
  - set the av (availability) vector based on util size term > 0
  - filter o

[2020-08-03 03:14] dabreegster commented on #326
Thanks for the response! I dug through the examples a bit more, and I think some of this could be automatically generated from an OpenStreetMap extract and an American Commuter Survey. Of course the quality would suffer, but it could be useful as an initial low-effort seed for a new area. Would this be of value to any groups you work with?

By the way, is there any documentation on what some of th

[2020-08-13 21:18] bstabler commented on #221
we already did this - store skims as 32bit float instead of 64bit.  I'm going to close this and open a new issue for @stefancoe's recent request.

[2020-08-13 21:18] #221 closed, assigned to nobody

[2020-08-13 21:19] bstabler opened #329 "store skims as scaled ints to decrease RAM needs?"
@stefancoe - can we scale skims (e.g. multiply each one by 100) so that they can be stored in memory as integer instead of float, like DaySim does?  This would decrease RAM needs.  (see also #221)

[2020-08-17 16:31] bstabler opened #330 "tracing the expression product"
When we separated coefficients from data in the expressions for estimation mode, I think we lost a little bit of info in the tracing.  When the data and coefficient were both in the expression, the trace value was the product of the two.  Now the trace value is only the data value.  The coefficient values are in the coefficient file, but the product of the two is not traced.  We need to add back t

[2020-08-19 23:41] gregorkschroeder commented on #329
not only is this a great idea in terms of memory but it also is a great idea in terms of final outputs, helping to reduce false precision of travel model outputs

[2020-08-24 23:20] danielsclint opened #331 "Required Coefficients File Not Backwards Compatible or Documented"
Pull Request #325 introduced a new requirement that each model define a "coefficients" file. This makes the structure of the config files cleaner in the long run. However, the documentation has not been updated (as far as I can tell) to reflect this new requirement, and it breaks prior setups (e.g., ARC implementation) that does not abide by this standard.

https://github.com/ActivitySim/activitys

[2020-08-25 17:28] danielsclint commented on #331
The COEFFICIENTS and COEFFICIENTS_TEMPLATE seem prone to user input error with all of the mappings between COEFFICIENT names, COEFFICIENT_TEMPLATE aliases, and actual usage in the the model specification or YAML file. Could the same logic in the COEFFECIENTS and COEFFICIENTS_TEMPLATE table be handled in a slightly more verbose single table?

**PROPOSED COEFFICIENT TABLE SCHEMA** (used to map speci

[2020-08-27 05:00] danielsclint opened #333 "Coefficients by Segment Necessary for Preprocessor"
Should the coefficients line 96 be added to the local dictionary before the expressions are evaluated for the preprocessor_settings? In the ARC implementation, tour_mode_choice_annotate_choosers_preprocessor.csv, references coefficients defined in the tour_mode_choice_coeffs and tour_mode_choice_coeffs_templates. They would only be available if the coefficients were added to the local_dict before

[2020-08-27 17:45] bstabler opened #334 "create TM2 test example for 3 zones and TVPB"
- @lmz is working on data prep
  - @bstabler is working on expressions
  - @toliwaga is working on software

[2020-08-27 20:24] danielsclint opened #335 "Joint Tour Destination Changed to Use Non-Mandatory Destination Choice Model Settings"
In PR #325, the model configuration file for joint tour destination was pointed to use the same model specification as non_mandatory_tour_destination. For consistency sake, would it be better to keep each model self-contained in its own YAML?

https://github.com/ActivitySim/activitysim/blob/05a25f687e0c151c5a3bcbf4428d2b58dd2cc4f7/activitysim/abm/models/joint_tour_destination.py#L329-L330

[2020-08-27 21:23] danielsclint opened #336 "DEST_CHOICE_LOGSUM_COLUMN_NAME Is Not Optional"
In the non-mandatory tour destination and joint tour destination setting YAML (for the MTC example), it indicates that the logsums for the destination choice can optionally be included in the resultant choice dataframe.

https://github.com/ActivitySim/activitysim/blob/05a25f687e0c151c5a3bcbf4428d2b58dd2cc4f7/activitysim/examples/example_mtc/configs/non_mandatory_tour_destination.yaml#L12-L13

The

[2020-09-01 15:28] bstabler opened #337 "clean up license so github autodetects"
See https://docs.github.com/en/github/building-a-strong-community/adding-a-license-to-a-repository.  We'll also explicitly identify the license.  The current license is BSD3 and is at https://github.com/ActivitySim/activitysim/blob/master/LICENSE.txt.

[2020-09-01 21:50] gregmacfarlane opened #338 "Export activity list"
Currently, activitysim only exports a list of trips, `final_trips.csv`

| trip_id| person_id| household_id| tour_id|primary_purpose | trip_num|outbound | trip_count|purpose  | destination| origin| depart|trip_mode |
|-------:|---------:|------------:|-------:|:---------------|--------:|:--------|----------:|:--------|-----------:|------:|------:|:---------|
| 8684833|     26478|        26478| 1085

[2020-09-01 21:50] gregmacfarlane commented on #338
To be clear, I'm happy to contribute to this myself. But I'm starting the conversation with an issue here.

[2020-09-01 22:11] bstabler commented on #338
This would be a cool feature, thanks for the suggestion

[2020-09-03 17:43] lmz commented on #334
See also: https://github.com/ActivitySim/activitysim/wiki/MTC-TVPB-Test-Data

I'm converting skims to OMX and posting on [Box ](https://mtcdrive.box.com/s/6flwdbiacq1zhenhgrqu9s7uuicyaz4r)(@bstabler and @toliwaga already have edit access)

For next steps, how do I setup the test run to use these files?

[2020-09-03 20:57] bstabler commented on #334
Thanks @lmz.  It looks like the data inputs are coming along.  Can you also post your scripts for converting the files since we may need to make some updates once we start testing these.  For now, I'll setup the test environment since I need to develop the expression files to go with these inputs.  Once I get it basically working, which may require a bit of back and forth between us, I'll post it

[2020-09-04 12:38] toliwaga commented on #333
Agreed. Will put this into develop asap.

[2020-09-04 13:45] toliwaga commented on #335
Yes - and especially as there is such a file, but it is currently ignored (and missing a field)

The only thing is that sometimes (e.g. for mtctm1) it will be identical to non_mandatory_tour_destination.yaml

it would be nice to have a macro (like inherit_settings) that allows you to say something like:

include_settings: non_mandatory_tour_destination.yaml

[2020-09-04 13:48] toliwaga commented on #336
Yes this is a bug I will fix in develop.

need to add the following to end of run_destination_logsums() in joint_tour_destination .py

[code]

[2020-09-08 16:24] lmz commented on #334
Sure, any preference where they ought to go?  I can put them in [travel-model-two](https://github.com/BayAreaMetro/travel-model-two) or in this repo.

[2020-09-08 16:27] bstabler commented on #334
Or maybe the box account folder for now?  Any of the locations is fine....if this repo then create a new folder under other_resources.  Thanks.

[2020-09-10 20:13] lmz commented on #334
To continue on from our conversation today - I need some clarity about what actually needs to be done for this (which is why I thought it would be easier to understand if something is runnable to see what fails).  For example:

- I would think we would just use `householdData_3.csv` as the household input file, `personData_3.csv` for the person input file.  It's not clear to me what changes are re

[2020-09-11 00:26] bstabler commented on #334
Sure.  Here's what I think still needs to be done:

  - for the synthetic households and persons, we need to make sure all the fields required by the tour mode choice UEC are in the input files.  For example, expression valueOfTime refers to person.value_of_time.
  - for the land use data, we need to make sure all the fields required by the tour mode choice UEC are in the input file and all the la

[2020-09-11 00:27] #327 closed, assigned to bstabler

[2020-09-11 00:27] #337 closed, assigned to nobody

[2020-09-11 00:27] #315 closed, assigned to nobody

[2020-09-11 00:28] #305 closed, assigned to nobody

[2020-09-11 00:28] #304 closed, assigned to nobody

[2020-09-11 00:28] bstabler commented on #292
I think we did this so I'm closing it

[2020-09-11 00:28] #292 closed, assigned to joecastiglione, bstabler

[2020-09-11 00:29] danielsclint opened #346 "Add Parking Location Choice Model for ARC"
ARC prototype model requires parking location choice model. New model needs to be added to support ARC's (and others') parking location choice implementations.

[2020-09-11 00:30] #310 closed, assigned to nobody

[2020-09-11 00:30] #324 closed, assigned to nobody

[2020-09-11 00:31] #306 closed, assigned to nobody

[2020-09-11 00:31] bstabler commented on #300
#325

[2020-09-11 00:31] #300 closed, assigned to nobody

[2020-09-11 00:31] danielsclint commented on #346
@bstabler: You can assign this to me. I'm working on it on my [fork](https://github.com/danielsclint/activitysim/tree/ft_parking_choice). I'm also planning, **at this point**, to add a "psuedo-" parking location choice model to the existing MTC example as my test case.

[2020-09-11 00:34] #287 closed, assigned to nobody

[2020-09-11 00:34] #283 closed, assigned to nobody

[2020-09-11 00:35] #284 closed, assigned to bstabler, blakerosenthal

[2020-09-11 00:35] #280 closed, assigned to bstabler

[2020-09-11 00:35] #282 closed, assigned to bstabler

[2020-09-11 00:35] #272 closed, assigned to bstabler

[2020-09-14 16:25] bstabler opened #347 "add copy of notebooks to create command"
for easier distribution of examples.  Copy the example notebooks from the package install location to the user specified folder created by the create command.

[2020-09-14 20:19] lmz commented on #334
When running this example, what's the mechanism used to read the tour files (instead of generating them with the other submodels)?  I would think it would be something like a submodel (or more than one) that reads these files rather than doing the cdap / school_location / workplace_location , etc.  As such, I think it would make sense for that submodel to read the files as is and do some limited p

[2020-09-14 23:44] bstabler commented on #334
For now, the mechanism to read the tour file will be to restart the pipeline at tour mode choice.  To do so, we'll create a pipeline file of pandas DataFrames from the TM2 CSV files.  Longer term, @toliwaga and I discussed creating an initialize_tours submodel to read this table from disk (like initialize_households).  I like the idea of putting the pre-processing logic into an initialize_tours ex

[2020-09-16 16:39] danielsclint opened #348 "Inherit Settings Macro"
Related to #335...

@toliwaga said:

_Sometimes (e.g. for mtctm1) [two YAML specificiations] will be identical to non_mandatory_tour_destination.yaml it would be nice to have a macro (like inherit_settings) that allows you to say something like:_

```include_settings: non_mandatory_tour_destination.yaml```

[2020-09-16 16:39] #335 closed, assigned to nobody

[2020-09-16 16:40] danielsclint commented on #335
This was dealt with in PR #342.

[2020-09-16 23:25] lmz commented on #334
Ok, forgive me for my dumb questions (I'm still an ActivitySim noob), but I don't understand what triggers the model to "restart the pipeline at tour mode choice".  What command would I run?  Where is this reflected in a `settings.yaml`?  [This one](https://github.com/RSGInc/activitysim/blob/multi_zone/activitysim/examples/example_multiple_zone/configs_3_zone/settings.yaml) doesn't include the mod

[2020-09-17 01:15] bstabler commented on #334
@lmz - I'm concerned we're missing each other a bit on this.   I'm thinking you provide the reasonably well formatted data inputs and then I'll build and test the example (and possibly make revisions to the inputs if needed (and/or in coordination with you)).  We currently don't have out-of-the-box functionality for this exact use case so I'm going to have to put something together for now.  Once

[2020-09-17 08:02] toliwaga commented on #334
@lmz  The link @bstabler provided above was broken when I moved the branch from rsg to activitysim repo.
Here is the correct link.

[2020-09-17 08:18] toliwaga commented on #348
this is too cool to resist!

[2020-09-17 09:01] toliwaga commented on #348
It would probably be best to provide only a limited functionality for this.

There is a lot of opportunity for confusion if this feature were over-used (e.g. endless chains of include files that reference each other...) when all we really need (for now) is to support an include that makes the setting file an alias for anther settings file.

Maybe we insist that a file with an include directive is

[2020-09-17 15:51] joecastiglione commented on #348
Supportive of convenience, but I think we also want to ensure that
specifications are transparent and clear / legible.

On Thu, Sep 17, 2020 at 2:01 AM Jeff Doyle <notifications@github.com> wrote:

[2020-09-17 16:22] lmz commented on #334
Hi @bstabler - I think I understand your approach but I don't agree with it.  I think it makes sense to develop the code in tandem with the inputs, because it will help us to understand how the inputs should work (and if there might be a more elegant way to do this, like the way I proposed above)  Having a skeleton and then fixing input files in response to error messages (rather than scanning a U

[2020-09-17 16:30] lmz commented on #334
Is it the `resume_after` line?  I [searched the documentation](https://activitysim.github.io/activitysim/search.html?q=resume&check_keywords=yes&area=default) for more about how to make this work (e.g. what's the input file for this functionality?) but couldn't find much

[2020-09-17 16:34] toliwaga commented on #334
I am sure it (and everything in asim) could be better documented.

On the other hand, I do agree with Ben that all we want is a 3-zone input
dataset we can work with.

On Thu, Sep 17, 2020 at 7:30 PM Lisa Zorn <notifications@github.com> wrote:

[2020-09-17 17:12] lmz commented on #334
Ok, so I am requesting now that you document this feature and how to use it now, since it's relevant for this task
Thank you.

[2020-09-17 18:13] lmz commented on #334
Based on [this note](https://github.com/ActivitySim/activitysim/blob/6ebe0d7adeeeb69e14ebe7feec82ef7b5855a307/activitysim/examples/example_multiple_zone/notes.txt#L13), it looks like the relevant command would be something like the following?

`python simulation.py -c configs_local -c configs_3_zone -c configs -d data_3 -o output_3`

And so is the plan to create a directory alongside [`configs_3_z

[2020-09-17 19:04] bstabler commented on #334
Hi @lmz, that's correct.  Here's basically what I'm thinking, which we can discuss in more detail on the call:
  - copy configs_3_zone and rename as configs_3_zone_mtc
  - first run the example through tour mode choice since we need the pipeline file at this point in time in order to jump in at tour mode choice
  - modify the setup to use the network LOS data you provide
    - maz nearby skims

[2020-09-17 19:37] bstabler commented on #334
regarding `resume_after`, see https://activitysim.github.io/activitysim/abmexample.html#pipeline

[2020-09-17 19:44] lmz commented on #334
The referenced documentation says "These model steps must be registered orca steps, as noted below. If you provide a resume_after argument to `activitysim.core.pipeline.run()` the pipeliner will load checkpointed tables from the checkpoint store and resume pipeline processing on the next model step after the specified checkpoint."

What's the "checkpoint store"?  How does one create this file?  If

[2020-09-17 20:09] lmz commented on #334
This sounds to me to be a cumbersome way to setup a model to just test the tour mode choice submodel.
I don't believe this is user-friendly skip-model functionality.  It sounds like this is a topic to discuss tomorrow morning.

[2020-09-17 20:13] bstabler commented on #334
I agree, it's cumbersome and it's something we should improve.  We don't have a recommended way to skip submodels so that's why we're pivoting off a previous run.  The checkpoint store is also known as the data store and the pipeline file.  It's in the output folder from the previous run.

[2020-09-18 15:32] bstabler commented on #334
Here's some additional helpful info on the very simple examples being used so far - https://github.com/ActivitySim/activitysim/wiki/TVPB-Design

[2020-09-22 18:51] bstabler commented on #291
For documentation purposes, here's an example usage for three zones

[code]

[2020-09-30 19:19] danielsclint opened #350 "Compatibility Issues with Toolz (v11)"
I had to reinstall my ActivitySim environment, and I ran into a big compatibility issue with the Toolz (CyToolz) library. It looks like a more recent version (v11.1) has been pushed to the [Conda](https://anaconda.org/anaconda/cytoolz) / [PIP](https://pypi.org/project/toolz/#history) warehouses.

When you run the tests against the new install version of toolz you get the following

[code]

[2020-09-30 19:25] fscottfoti commented on #350
https://github.com/UDST/orca/issues/50

[2020-09-30 23:57] jamiecook commented on #350
Fixed in PR #349

[2020-10-01 01:31] danielsclint commented on #346
I finally got everything working. I went down a few different rabbit holes before I finally found a solution I liked. This solution pivots largely from the trip_destination_choice model with some simplifications removing unnecessary components for the ARC implementation.

Their are two commits with the components:
- [Working Parking Location Choice Model](https://github.com/danielsclint/activitysi

[2020-10-04 10:58] toliwaga commented on #288
fixed this in develop by adding chunking by chunk_id, and updated tests to catch such errors in the future by forcing singleton full model run test to use minimal chunk size.

This is provisional code as the multiple_zone branch has more extensive changes to chunking (adaptive chunking).

[2020-10-04 10:58] #288 closed, assigned to danielsclint

[2020-10-04 11:01] toliwaga commented on #302
this is in multizone branch now - should close when we pull it to develop

[2020-10-08 14:50] bstabler commented on #288
@danielsclint to now test

[2020-10-09 21:54] josiekre commented on #350
I have this problem right now too where we are testing with PopulationSim. We rebuild our virtual environment in a Docker frequently. Temporarily fixed it by fixing toolz to 0.10 until this pull request makes it into a release.

I thought I'd mention that I am testing `pipenv` to help manage deterministic builds. You might look into it for ActivitySim and PopulationSim so end-users can avoid this

[2020-10-15 14:31] bstabler opened #351 "Add CDAP estimation recipe and notebook example for larch"
Add CDAP estimation recipe and notebook example for larch, see

https://github.com/ActivitySim/activitysim/blob/develop/activitysim/examples/example_estimation/configs/estimation.yaml#L78

[2020-10-15 14:33] bstabler opened #352 "Add interaction_simulate estimation recipe and notebook example for larch"
The `non_mandatory_tour_frequency` model is setup a little differently than the others, maybe because it is by person type, and so it uses the `interaction_simulate` estimation data bundle writer.  See https://github.com/ActivitySim/activitysim/blob/develop/activitysim/examples/example_estimation/configs/estimation.yaml#L78

[2020-10-15 14:36] bstabler commented on #334
@toliwaga finished creating the Marin example this week.  I'm going to create a new issue for performance tuning/pre-computing/caching.

[2020-10-15 14:38] bstabler opened #353 "transit virtual path builder - speed-up, pre-compute, cache"
This issue is for the TVPB speed-up, pre-compute, caching work that Jeff is working on.  See also #334.

[2020-10-20 19:54] #350 closed, assigned to nobody

[2020-10-20 22:39] bstabler opened #354 "cli create command read and process a user specified manifest"
from @danielsclint - The example_manifest.yaml that downloads and sets up the example folders is hard coded to read from the “compiled” python egg. This doesn’t provide much flexibility to point the download manifest to another location for ARC. At some point, it would be good to make this cli create command a little more flexible to read and process a user specified manifest.

[2020-10-20 23:08] jamiecook commented on #350
@josiekre ... I'm not sure that pipenv would solve this type of problem would it?
As far as I understand pipenv it allows you to specify version ranges for dependencies... but setup.py already does that

![image](https://user-images.githubusercontent.com/151124/96653167-d3305f80-137b-11eb-922b-fb6583cefbbd.png)

The problem is that the range is too open ended... it could be locked down with an upp

[2020-10-21 22:19] josiekre commented on #350
Ya maybe you're right for your use case. You're working on building a flexible library rather than production code. For our use case, we need a rebuildable environment (including deep dependencies) regardless of when we build it (repeatable build in production regardless of whether we install today or 6 months from now into a Docker). `pipenv` or some similar "lock" file aims to make this possible

[2020-10-21 22:44] josiekre commented on #350
Here's where it might become relevant for you: ARC's or ODOT's model turns out to have a small bug they need to fix for their deadline coming up in two weeks. Their model depends on a release of `activitysim` from three years ago that was installed on their machine 1 year ago, and they need to deploy the exact same setup plus this one little fix to their own wrapper.

They might be lucky and be in

[2020-10-21 22:53] jamiecook commented on #350
@josiekre - I think you are right, pip freeze and pip env lock files are the only real way to solve that problem within the python ecosystem. To be clear, I work in the same space as you - modelling systems that utilise popsim/actsim and we have the same problems and we reached for Pipenv to solve them as well. Having something that used to work not work anymore because of some third party library

[2020-10-22 23:13] danielsclint commented on #288
I see the new method in chunk to chunk by chunk id, but I don't see any changes to the joint tour participation code in develop. As this be merged with the main repo or in some other working version of develop?

[2020-10-23 11:32] toliwaga commented on #288
Oops! Sorry!  It helps to push - which I just did.

[2020-11-02 16:49] danielsclint opened #355 "Avoid Arithmetic if Coefficient is 0"
If the coefficient is 0 for a particular utility, can we short circuit the whole partial utility calculation and assign the full utility 0? In models with multiple segments, there are lots of utility expressions relevant to one segment but asserted as 0 for other segments.

The math won't allow these alternatives to evaluate to anything else. This could save considerable time on larger runs.

Am I

[2020-11-04 16:55] danielsclint opened #356 "Hard Coded Person Types in CDAP"
The CDAP model contains hard coded person type (ptype) values for workers and children.

For the ARC implementation this causes problems in the tour scheduling components where the children ptypes are further subdivided beyond the values in the hard-coded expression. We would ideally like to be able to define 9 as another child person type for tour scheduling, but this would break the upstream CDA

[2020-11-10 22:53] bstabler commented on #356
These should move to the new constants.yaml file

https://github.com/ActivitySim/activitysim/blob/multizone/activitysim/examples/example_mtc/configs/constants.yaml

[2020-11-11 20:56] danielsclint opened #358 "Time Map Should Allow Labels to Be Reused"
In the settings.yaml, the skim_time_periods should allow for duplicate labels. In the MTC / ARC example, the EV period would cover the first few hours in the early morning after midnight and the late night shortly before midnight.

It's also easy to imagine a model with 2-3 time periods like Peak / Off-Peak, or AM, PM, OP.

[2020-11-11 21:19] danielsclint commented on #356
This feature is not available on the develop branch at this point in time, so I didn't incorporate it. I did just issue a pull request to address the ARC specific issue this issue relates.

[2020-11-16 13:28] jpn-- commented on #352
I propose the estimation data bundle output for this model be reorganized as such:

[code]

This doesn't require actually changing the content of any files -- all of these exist at least once in the current EDB output.  We just will remap the directory as shown to remove duplication and consolidate all eight models into a single top-level EDB to streamline estimation.

I will manually reconfigure

[2020-11-24 00:30] jpn-- commented on #352
Notebook implementing the `non_mandatory_tour_frequency` model estimation is in 2252f1ed56339b7d8fae1f786b4e95e58912aba6.  This notebook implements coefficient "back-mapping" -- this automates the process of converting all coefficients that have exactly identical values into a common estimated coefficient.  This refactoring was done manually in other models but was not done here.  It greatly impro

[2020-11-24 22:35] danielsclint opened #361 "Further Reduce Logsum Calcs in Mandatory Tour Scheduling"
ActivitySim already reduces down the number of logsum calculations by filtering out some duplicate value. However, in the ARC ActivitySim implementation, we have a lot of duplicated logsum calculations. Could this be refined to filter and remove extraneous rows just on just in_period and out_period?

I don't think duration is relavent to the actual logsum calculation, and the log sum calculation c

[2020-12-09 01:07] stefancoe opened #363 "size_terms.py in multizone branch expects land use index to be named 'zone_id'"
The name of the land use index column is configurable in settings.py, but there is an assert statement here https://github.com/ActivitySim/activitysim/blob/multizone/activitysim/abm/tables/size_terms.py#L90 that expects it to be called 'zone_id.'

In the existing MTC example, the zone column and index are both configured as 'TAZ':
https://github.com/ActivitySim/activitysim/blob/master/activitysim/

[2020-12-09 07:53] toliwaga commented on #363
This is a change from master. The input_table_list setting in multizone branch have been changed to conform with the new (internal) naming convention.

We could change the settings file to allow EITHER name though this risks introducing errors if  3-zone users use it as a template, since in 3-zone systems TAZ is not the right index for land_use.

[code]

I think it is more straightforward to encou

[2020-12-10 15:45] bstabler commented on #361
This is a good idea.  In addition, while still keeping logsum calcs by [origin, destination, duration], we could de-duplicate the alternatives since some [origin, destination, duration] tuples could result in the same values as well.

[2020-12-10 18:25] stefancoe commented on #363
@toliwaga the last option seems good. How about also adding an additional comment to every non-configurable setting, such as:

 this must be 'zone_id'; it is not configurable.

[2021-01-18 21:45] bstabler opened #369 "Additional ARC modules need estimation support and other finishes"
Let's not forget that these ARC submodels are missing estimation integration:

  - trip_scheduling_choice
  - trip_departure_choice
  - parking_location

See [examples/example_mtc/configs_arc](https://github.com/ActivitySim/activitysim/tree/master/activitysim/examples/example_mtc/configs_arc)

[2021-01-18 22:49] bstabler commented on #303
this is now done, see https://github.com/ActivitySim/activitysim/tree/estimation/activitysim/examples/example_mtc/configs

[2021-01-18 22:49] #303 closed, assigned to nobody

[2021-01-18 22:54] bstabler opened #370 "telecommute model design and example"
See [design](https://github.com/ActivitySim/activitysim/wiki/Telecommute) and [example](https://github.com/ActivitySim/activitysim/tree/telecommute/activitysim/examples/example_mtc/configs)

[2021-01-18 23:01] bstabler opened #371 "transit pass ownership model design and example"
See [design](https://github.com/ActivitySim/activitysim/wiki/Transit-Pass-Ownership).

[2021-01-18 23:06] #358 closed, assigned to nobody

[2021-01-18 23:06] #356 closed, assigned to nobody

[2021-01-18 23:09] bstabler commented on #346
these are now included in the release, see [example_mtc_arc_extensions](https://github.com/ActivitySim/activitysim/blob/master/activitysim/examples/example_manifest.yaml), thanks!

[2021-01-18 23:09] #346 closed, assigned to danielsclint

[2021-01-18 23:11] bstabler commented on #334
this is now in the release as [example_3_marin_full](https://github.com/ActivitySim/activitysim/blob/master/activitysim/examples/example_manifest.yaml)

[2021-01-18 23:11] #334 closed, assigned to toliwaga, lmz, bstabler

[2021-01-18 23:13] bstabler commented on #356
this is in the release version now

[2021-01-18 23:16] bstabler commented on #358
this is in the release, thanks

[2021-01-18 23:18] #302 closed, assigned to nobody

[2021-01-18 23:18] bstabler commented on #302
this was released, thanks

[2021-01-18 23:18] bstabler commented on #291
this has been released

[2021-01-18 23:18] #291 closed, assigned to nobody

[2021-01-18 23:20] bstabler commented on #244
This has been confirmed to work with the new multiple zone system support in the release

[2021-01-18 23:20] #244 closed, assigned to nobody

[2021-01-21 23:35] danielsclint opened #373 "Write Trip Matrices Relies on Duplicated Time Period Specifications"
The write trip matrices methods should use the time period definitions included in the network LOS. The current implementation relies on time period labels being defined in the write_matrices.yaml outside of the time definitions in the network_los.yaml used by the rest of the model system. This is prone to error if updates to time periods become out of sync.

https://github.com/ActivitySim/activit

[2021-01-21 23:36] #333 closed, assigned to nobody

[2021-01-25 10:26] toliwaga opened #374 "multiprocessing resume_after can apportion post-resume pipeline tables"
When resuming a multiprocess run, mp_tasks.apportion will wrongly apportion tables in pipeline created in a later phase of single-process execution. This only happens if in the prior run, execution proceeded through a multiprocess step and coalesced the results back into the pipeline - and then the resume_after step specified repeats the apportion step. I will be comitting a fix for this forthwith

[2021-01-26 20:22] bricegnichols opened #376 "warn or filter for non-canonical tour types during survey prep for estimation"
When running [infer.py](https://github.com/ActivitySim/activitysim/blob/7af0868134d354dc4f02060c284660ab55ba6374/activitysim/examples/example_estimation/scripts/infer.py) to prep survey data for estimation, there is a maximum number of tours by purpose implicitly defined in the [tour_frequency module](https://github.com/ActivitySim/activitysim/blob/master/activitysim/abm/models/util/tour_frequency

[2021-02-04 05:20] bstabler opened #377 "potential performance improvements"
This issue is for keeping track of potential performance improvement ideas:
  - reduce expression solving time and memory needs by better handling string data as pandas categorical data
  - improve parallelization by taking advantage of updates to Python 3’s multiprocessing library
  - continue to improve chunksize calculations for more optimized multiprocessing setups
  - review ct-ramp and daysi

[2021-02-04 05:40] bstabler commented on #373
I like this idea, but I also like the ability for them to be independent.  I think we need the flexibility to do either with a switch/setting.

[2021-02-04 05:42] bstabler commented on #245
we're no longer supporting py2.7

[2021-02-04 05:42] #245 closed, assigned to nobody

[2021-02-05 02:17] jpn-- commented on #377
A configuration file switch that can disable trip-level processing for tours based on tour mode.  So, you can shut off (skip) stop_frequency, trip_purpose, trip_destination, trip_scheduling, and trip_mode_choice for walk and bike tours if you don't care about those trips (e.g. inside a global feedback loop iteration, I don't care about walk or bike trips as they don't impact congestion).

Bonus po

[2021-02-08 23:09] bstabler opened #378 "the instructions for all the variables in the settings files should be in one place"
this is some feedback from a new user and I don't want to lose track of it so I'm creating an issue

[2021-02-09 17:10] danielsclint commented on #355
This feature already exists.

[2021-02-09 17:10] #355 closed, assigned to nobody

[2021-02-09 17:39] jpn-- commented on #373
Instead of making these rigorously consistent by being defined together, we could just throw a warning message if they are not consistent.

[2021-02-10 00:21] bstabler commented on #377
@stefancoe  - add reading skim data from disk on-demand as opposed to reading every skim into RAM at the start as a way to trade runtime for RAM.  @toliwaga implemented an undocumented version of this during the TVPB caching research and it runs slower but uses a lot less RAM.  We may want to complete this feature for general use.

[2021-02-16 17:45] Ennazus opened #379 "ask a woman to commit some code to this repository"
Bad optics. Let me know how I can help. I was just checking things out because I saw a bunch of PSRC code updates which is cool!  I'm excited to see what you pull together. Do you want me to write a summary tool or something? I can volunteer a few hours.

I'm also available for model estimation or model design assistance. We've been estimating a bunch of models lately that include race https://git

[2021-02-16 19:46] mattwigway opened #380 "Fresh ActivitySim install cannot run example_mtc_full in multiprocessing mode"
I installed the ActivitySim `master` branch using `python setup.py develop`, then ran `activitysim create -e example_mtc_full -d example_mtc_full/` and `activitysim run -mw example_mtc_full/example_mtc_full`, and I get this traceback. The model runs without the `-m` flag. I'm using anaconda python 3.8.2 on OS X 11.2.1.

<details>
<summary>Traceback</summary>
[code]
</details>

[2021-02-16 20:05] #379 closed, assigned to nobody

[2021-02-16 20:13] e-lo commented on #379
was this resolved?

[2021-02-16 20:53] Ennazus commented on #379
I meant this as a playful nudge to get a more diverse contributor base, but then I felt like it was probably not the best way to get the issue across. Also I’m guessing that the issue has been successfully raised!

[2021-02-18 01:56] bstabler commented on #353
we completed this and the code has been released

[2021-02-18 01:56] #353 closed, assigned to toliwaga

[2021-02-18 01:58] bstabler commented on #353
here are the examples for future reference - https://github.com/ActivitySim/activitysim/tree/master/activitysim/examples/example_multiple_zone

[2021-02-18 01:59] bstabler opened #381 "Add writing of estimation data bundles for remaining trip level models"

[2021-02-18 02:00] bstabler commented on #381
this is done and at https://github.com/ActivitySim/activitysim/tree/estimation

[2021-02-18 02:01] bstabler opened #382 "add estimation examples for remaining submodels"
@jpn-- is working on this, as well as general improvements for more seamless estimation integration

[2021-02-18 02:06] bstabler opened #383 "add representative logsums feature to speed up scheduling models"
See notes here - https://github.com/ActivitySim/activitysim/wiki/Project-Meeting-2021.02.02#technical-call

[2021-02-18 02:08] bstabler opened #384 "improve location sampling performance for multiple zone system models"
See notes here, https://github.com/ActivitySim/activitysim/wiki/Project-Meeting-2021.01.12#technical-call

[2021-02-18 02:10] bstabler opened #385 "continue to improve our test system to cover activitysim use cases in practice"
See the [task scope](https://github.com/ActivitySim/activitysim/wiki/Phase-6a-Scope-of-Work#task-6-prototype-multiple-models-test-system) for the general idea.  See also the evolving [examples](https://github.com/ActivitySim/activitysim/tree/develop2/activitysim/examples) set and [example_manifest](https://github.com/ActivitySim/activitysim/blob/develop2/activitysim/examples/example_manifest.yaml)

[2021-02-18 02:40] bstabler commented on #385
Proposed improvement plan will be [here](https://github.com/ActivitySim/activitysim/wiki/Improved-test-system-to-cover-activitysim-use-cases)

[2021-02-18 15:15] bettinardi commented on #385
the "here" link doesn't work

[2021-02-19 00:06] jpn-- commented on #382
## implement components

- [x] free_parking
- [x] mandatory_tour_frequency
- [x] mandatory_tour_scheduling
- [x] joint_tour_frequency
- [x] joint_tour_composition
- [x] joint_tour_participation
- [x] joint_tour_destination (with nonmandatory tour destination)
- [x] joint_tour_scheduling
- [x] non_mandatory_tour_destination
- [x] non_mandatory_tour_scheduling
- [x] atwork_subtour_frequency
- [x] at

[2021-02-22 16:40] toliwaga opened #386 "should test shadow pricing"
We can't easily test shadow pricing on full dataset, but we should at least exercise the components by running on test sample with use_shadow_pricing set to True and MAX_ITERATIONS > 1

[2021-02-23 21:49] bstabler commented on #380
Hi @mattwigway, here's a quick update on this.   I ran example_mtc_full on my Windows server using the example commands in the [example_manifest.yaml](https://github.com/ActivitySim/activitysim/blob/master/activitysim/examples/example_manifest.yaml#L25).   This is using different command line arguments than "-mw", so we'll need to further investigate this configuration option.

[2021-02-25 21:36] stefancoe opened #387 "On develop2 branch, assertion error in skim_dictionary.py, los.py"
When we run with full PSRC data, [line 69 in skim_dictonary.py](https://github.com/ActivitySim/activitysim/blob/develop2/activitysim/core/skim_dictionary.py#L69) fails because offset_series is a numpy array not a series.

To move along, I changed [this line](https://github.com/ActivitySim/activitysim/blob/develop2/activitysim/core/skim_dictionary.py#L50) to:

self.set_offset_series(pd.Series(offse

[2021-02-26 01:32] stefancoe commented on #387
I tested the code using the psrc_example data and can confirm that the example data uses the following in [skim_dictionary.py](https://github.com/ActivitySim/activitysim/blob/develop2/activitysim/core/skim_dictionary.py#L179):

offset_mapper.set_offset_list(offset_list=self.skim_info.offset_map)

Whereas the full psrc data uses:

offset_mapper.set_offset_int(-1)

[2021-02-26 22:00] toliwaga commented on #387
Thanks @stefancoe  There was indeed a bug that was only triggered when the taz skims backing a MazSkimDict had no offset map. I, unfortunately, missed this as I had been running your full example, not on the raw data you provided me, but on a  version created by the psrc_crop.py script in the example_psrc/scripts folder which removes unreferenced TAZs from the skims and uses omx.create_mapping to

[2021-02-26 23:43] josiekre commented on #379
+1 on the nudge. Great idea! Someone else sent me to this so it is being noticed!

[2021-03-01 12:18] toliwaga commented on #380
Hi @mattwigway

I am not able to reproduce this. If you still believe you have an issue, please provide some more detail.

The fact that you are seeing this:

`KeyError: 'no step named initialize_landuse'`

Suggests that the following import (which has the side effect of registering the abm model stsp injectables) is not getting called:

`from activitysim import abm  # register injectables`

I did

[2021-03-04 23:40] bricegnichols opened #388 "Skim Dictionary Lookup Fails in Estimation Mode"
When checking for bad indices, the following assertion fails when reading survey data that contains -1 values:

https://github.com/ActivitySim/activitysim/blob/master/activitysim/core/skim_dictionary.py#L244

I don't really understand the implications, but I bypassed the issue by allowing -1 as a valid value:

[code]

[2021-03-04 23:42] bricegnichols commented on #388
This issue occurred on the develop2 branch running PSRC's MAZ-based model.

[2021-03-09 17:04] bstabler commented on #387
This is fixed on develop2 so I'm going to close this

[2021-03-09 17:04] #387 closed, assigned to nobody

[2021-03-09 17:08] bstabler commented on #388
@bricegnichols - can you provide more info and then @toliwaga and you can plan to chat if needed

[2021-03-10 01:41] mattwigway opened #390 "Skim offset hardwired to -1"
On the develop2 branch, the [skim offset is hardwired to -1 on Line 185 of skim_dictionary.py](https://github.com/ActivitySim/activitysim/blob/develop2/activitysim/core/skim_dictionary.py#L185):

[code]

This causes activitysim to fail when run with 0-based TAZ input data. Workaround for now is to add a mapping to the skims file that is just the output of `np.arange(n_zones)`. This may be the issu

[2021-03-11 19:00] esanchez01 opened #391 "Monotonically Increasing Indices Assertions"
In the `Develop2` branch, there appears to be several assert statements across `shadow_pricing.py` and `location_choice.py` which check that the indices of a data frame are monotonically increasing. I ran the multi processed simple 3 zone example but passed in SANDAG inputs (inputs transformed to match example inputs) and failed these assertions. I included a stack trace below.

As a temporary wor

[2021-03-15 15:16] toliwaga opened #392 "purpose assigned by trip_purpose to last trip should be lower case string"
trip_purpose.py currently assigns a purpose of 'Work' or 'Home' whereas conventionally theres are lower case names.

It should either assign lower case or allow the terminal trip names to be specified in settings file.

[code]

[2021-03-15 15:59] toliwaga commented on #391
Yes, activitysim is assuming the input land_use table is sorted by zone id.  This should not be required.

shadow pricing wants the the size_term table to be in a known order since the data in it is being shared across sub-processes as numpy array. But there is no reason this should emerged at the input file level.

fixing this right  now.

[2021-03-15 16:15] toliwaga commented on #390
Yes, activitysim assumes that any omx that has no mapentries (as returned by listMappings) has skim offset of -1.

We might consider allowing the skim offset to be specified in the netwoek_los.yaml config file - but this leads to a somewhat inelegant separation of the skim metadata from the skims themselves. And if we do support it, should this be a global setting, or might it differ from file to

[2021-03-15 16:16] toliwaga commented on #383
This is implemented and working in the develop2 branch.

[2021-03-15 16:17] toliwaga commented on #384
This is implemented and working in the develop2 branch.

[2021-03-15 20:22] toliwaga commented on #391
fixed now in develop2

[2021-03-15 20:33] toliwaga commented on #361
While the ARC version does not use duration, it is used by MTC to calculate daily_parking_cost:

`,daily_parking_cost,"np.where(is_mandatory, _hourly_peak_parking_cost * df.duration, _hourly_offpeak_parking_cost * df.duration)"`

But I believe we have addressed this issue with representative_logsums performance enhancement feature now in develop2...

[2021-03-18 00:18] bstabler opened #395 "Dynamic chunking doc update and improvements"
from a @toliwaga, @stefancoe conversation:

Dynamic chunking will do its best to adjust chunks to hit the specified chunk size, not the available memory. So if the chunk size setting is too high, it will do its best adjust the number of rows per chunk to achieve that mark, even if there isn’t enough RAM to accommodate it.

So, for now,  you do still have to set a guestimated chunk_size and adjust

[2021-03-18 16:24] esanchez01 commented on #391
I pulled the latest changes from `develop` and I am still encountering a similar issue. I included a stack trace below. I will apply the above fix for now.

Let me know if any additional information is needed.

<details>
<summary>Traceback</summary>
18/03/2021 05:46:28 - WARNING - activitysim.core.mp_tasks - AssertionError exception running school_location model: school_destination_size not is_mon

[2021-03-22 20:00] mattwigway commented on #317
This confused me too, as I initially assumed chunk_size was the number of individuals in a chunk, not the number of 64-bit numbers. To avoid breaking configs, maybe we should leave chunk_size as is, but add a chunk_size_megabytes parameter which, if chunk_size is not set, sets chunk size to chunk_size_megabytes * 1024 * 1024 / 8?

[2021-03-22 20:33] esanchez01 opened #396 "compute_accessibility chunk size"
I have been working towards optimizing the performance of SANDAG's ActivitySim 3-zone set up (using the latest `develop` branch). In terms of run time, the main bottleneck has proven to be the compute_accessibility step -- this appears to be due to the step not fitting in RAM on our machine (320GB). I therefore tested smaller chunk sizes to alleviate this issue and have seen reductions in run time

[2021-03-22 22:35] bstabler commented on #370
The telecommute example has been moved to [example_semcog](https://github.com/ActivitySim/activitysim/tree/develop/activitysim/examples/example_semcog) on develop

[2021-03-23 00:41] bstabler opened #397 "Potential input checking and error handling improvements"
To seed a conversation on potential input checking and error handling improvements, see [this page](https://github.com/ActivitySim/activitysim/wiki/Potential-input-checking-and-error-handling-improvements).  I also tagged relevant open issues.

[2021-03-23 00:41] bstabler commented on #395
#397

[2021-03-23 00:42] bstabler commented on #396
#397

[2021-03-23 00:45] bstabler commented on #348
#397

[2021-03-23 00:46] bstabler commented on #317
#397

[2021-03-23 00:47] bstabler commented on #313
#397

[2021-03-23 00:49] bstabler commented on #268
#397

[2021-03-23 00:49] bstabler commented on #307
#397

[2021-03-23 00:49] bstabler commented on #299
#397

[2021-03-23 00:49] #262 closed, assigned to nobody

[2021-03-23 00:50] bstabler commented on #247
#397

[2021-03-23 00:50] bstabler commented on #220
#397

[2021-03-23 15:02] bstabler commented on #370
Let's use this issue to discuss any additional thoughts around the telecommute model design

[2021-03-23 15:05] bstabler commented on #371
Let's use this issue to discuss the design

[2021-03-23 15:13] bstabler commented on #371
Some further discussion items related to the design:

  - Are we assuming transit pass owning persons are insensitive to cost at the trip level?
  - Some transit passes are only good for certain systems\operators, which could be problematic in regions with multiple operators, which means different discount/subsidy schemes.
  - Can each person get a fare attribute? How does that relate to the skimm

[2021-03-23 15:14] bstabler commented on #370
Some further discussion items related to the design:
 - Can we make it easier for the user to do what-if analysis?

[2021-03-26 20:23] bricegnichols opened #398 "Location choice example estimation failing on missing "zone_id" key"
On the develop branch, school location choice estimation is failing due to a missing "zone_id" field.

KeyError: 'zone_id'
https://github.com/ActivitySim/activitysim/blob/develop/activitysim/estimation/larch/location_choice.py#L145

I had this issue running the [small example from the estimation notebook](https://github.com/ActivitySim/activitysim/blob/develop/activitysim/examples/example_estimati

[2021-03-30 00:44] bstabler opened #401 "Check input data consistency"
| Idea          | Level-of-effort | Notes |  Priority |
| ------------- | ------------- |   ------------- | ---- |
| Check input data consistency   | Days  | Plan to check all the key relationships. Check primary key table joins across input tables - HH home zone vs. TAZ/MAZ land use file, MAZtoTAP file TAPs vs. TAP skims, TAZs in the land use file vs. TAZ skims, etc.  | High |

[2021-03-30 00:45] bstabler opened #402 "Check for well formed config files"
| Idea          | Level-of-effort | Notes |  Priority |
| ------------- | ------------- |   ------------- | ---- |
| Check for well formed config files  | Days  | Check settings files, expression files, and config files at the start of a run to avoid parsing issues later on. | Low  |

[2021-03-30 00:45] bstabler opened #403 "Better describe silly errors"
| Idea          | Level-of-effort | Notes |  Priority |
| ------------- | ------------- |   ------------- | ---- |
| Better describe silly errors | Days depending on LOE  | For example, when a submodel yaml file cannot be found, print more useful info through more exception handling | Low  |

[2021-03-30 00:46] bstabler opened #404 "Print info about no alternative found"
| Idea          | Level-of-effort | Notes |  Priority |
| ------------- | ------------- |   ------------- | ---- |
| Print info about no alternative found | Hours | When no alternative is found in a choice model, log which terms in the utility turn off all alternatives since this is really helpful info in debugging. | High  |

[2021-03-30 00:46] bstabler opened #405 "Turn off restarting if desired"
| Idea          | Level-of-effort | Notes |  Priority |
| ------------- | ------------- |   ------------- | ---- |
| Turn of restarting if desired | Hours | Add a global setting to optionally turn off restarting in order to save disk space (and some runtime) by not saving all the states of the tables in the pipeline and instead just save one version of each table  This is especially useful when ru

[2021-03-30 00:47] bstabler opened #406 "Improve RAM/chunking settings"
| Idea          | Level-of-effort | Notes |  Priority |
| ------------- | ------------- |   ------------- | ---- |
| Improve RAM/chunking settings | Days depending on LOE | Make it easier for new users to set a reasonable chunking/processors settings since this is tricky.  Maybe specify an amount of overall machine RAM to use instead of a chunksize?   How about a guidebook for how to figure out ho

[2021-03-30 00:47] bstabler opened #407 "Eliminate distance==0 problems"
| Idea          | Level-of-effort | Notes |  Priority |
| ------------- | ------------- |   ------------- | ---- |
| Eliminate distance==0 problems | Days depending on LOE | Would need users to identify distance skims in the settings files since ActivitySim doesn't know what "distance" is and then ensure it is > 0 where "appropriate" to avoid funny simulation situations.  Alternatively the skim re

[2021-03-30 00:47] bstabler opened #408 "Clean up command prompt logging"
| Idea          | Level-of-effort | Notes |  Priority |
| ------------- | ------------- |   ------------- | ---- |
| Clean up command prompt logging | Hours depending on LOE | Be more intentional about what is logged to the console vs. log file since there's a lot of info currently. | Medium |

[2021-03-30 00:48] bstabler opened #409 "Avoid long trace file names"
| Idea          | Level-of-effort | Notes |  Priority |
| ------------- | ------------- |   ------------- | ---- |
| Avoid long trace file names | Hours | Reduce filenames (especially in estimation mode and for tracing) because of Windows filename limits. | Low |

[2021-03-30 00:48] bstabler opened #410 "Log dependent package versions"
| Idea          | Level-of-effort | Notes |  Priority |
| ------------- | ------------- |   ------------- | ---- |
| Log dependent package versions | Hours | This is useful for debugging, especially since different versions of pytables (for hdf5) behave a little bit differently between versions and OSes | Low |

[2021-03-30 00:48] bstabler opened #411 "Tidy up documentation related to settings file inheritance"
| Idea          | Level-of-effort | Notes |  Priority |
| ------------- | ------------- |   ------------- | ---- |
| Tidy up documentation related to settings file inheritance | Hours | Settings file inheritance is used by several examples, but it can be confusing to new users.  | Low |

[2021-03-30 00:49] bstabler opened #412 "Log time to solve each expression"
| Idea          | Level-of-effort | Notes |  Priority |
| ------------- | ------------- |   ------------- | ---- |
| Log time to solve each expression | Hours | To identify which expressions take a long time to run in order to hopefully rewrite them in faster form | Low |

[2021-03-30 00:55] bstabler commented on #397
I created issues #401 through #412 so I'm closing this overall issue

[2021-03-30 00:55] #397 closed, assigned to nobody

[2021-03-30 16:35] bettinardi commented on #401
I'm supportive of this, given that it is a configurable and expandable and customizable list of checks, similar to what ODOT has developed.  I would not support a hard coded set of checks.

[2021-03-31 17:16] bstabler commented on #396
This crash should not happen so we'll need to investigate.  In the meantime, you can set different chunk sizes for different submodels as shown here

![image](https://user-images.githubusercontent.com/5761221/113184330-e3d9e100-9209-11eb-90ef-166942526c6e.png)

[2021-03-31 21:43] bstabler commented on #401
For reference, see what ODOT developed,  https://github.com/RSGInc/SOABM/blob/master/template/inputChecker/config/inputs_checks.csv

I think we could do that.  I think it will probably require the entire task budget, which I think would be ok since this is an important item.  I think the solution would be both user configurable input validator using expressions + primary keys / table join checks f

[2021-03-31 21:51] bettinardi commented on #401
Well...  Just to be clear on my thumbs up - it only applies to a non-hard coded solution.  I give a grumpy face thumbs down to using money on hard coding this check when it could be lumped into a flexible / configurable option.

I would / could support (thumbs-up) a flexible solution that eats the whole existing budget, but only if the rest of the team agreed.  In summary, my vote is likely to ski

[2021-04-01 16:21] bstabler commented on #409
@stefancoe - it would be good to create folders too to help organize all the output files

[2021-04-02 22:51] bstabler commented on #409
It's pretty simple to turn on support for long file names on Windows 10.  See https://www.howtogeek.com/266621/how-to-make-windows-10-accept-file-paths-over-260-characters/ and:

![image](https://user-images.githubusercontent.com/5761221/113368389-7b772680-9313-11eb-88f9-13e869973eef.png)

I did this, but I also needed to turn off the assertation in activitysim so we should make this assertation o

[2021-04-02 22:58] bstabler opened #414 "set MKL_NUM_THREADS=1 at runtime?"
Inspired by [this](https://numexpr.readthedocs.io/projects/NumExpr3/en/latest/user_guide.html#threadpool-configuration), should we add something like the following to the asim main runner to ensure we always override the Intel MKL threading settings on Windows and when multiprocessing?

[code]

[2021-04-05 14:45] bettinardi commented on #409
Not all government employees have "easy" access to their registry files or other admin level changes.  Additionally, this is going to be one of those really frustrating things to remember anytime someone gets a new machine.  I recommended attempting to find a solution that works in Windows default.

[2021-04-05 16:43] bstabler commented on #409
Agreed.  Another work around is to setup the model in a short folder name location such as c:\activitysim.

[2021-04-05 17:14] bettinardi commented on #409
I don't think this issue should be resolved with work arounds.  The issue should be resolved with a fix/soultion.

[2021-04-06 20:58] bricegnichols commented on #398
Fixed in https://github.com/ActivitySim/activitysim/pull/400

[2021-04-06 20:58] #398 closed, assigned to nobody

[2021-04-06 23:43] bstabler commented on #414
@guyrousseau asked if the Intel MKL library underlying numpy and pandas work as well on AMD processors.  Based on [this](https://en.wikipedia.org/wiki/Math_Kernel_Library) Wikipedia entry and some [other web searching](https://simon-martin.net/2020/03/01/boosting-intel-mkl-on-amd-ryzen-processors/), it may not.  However, this information may be out of date as Intel, AMD, numpy/pandas, etc. are alw

[2021-04-07 19:03] jpn-- commented on #414
If we want to squash threads not just for MKL but other BLAS implementations that a use may end up with (and many other of the usual suspects), we can do the same ='1' for all these:  OMP_NUM_THREADS, NUMBA_NUM_THREADS, OPENBLAS_NUM_THREADS, MKL_NUM_THREADS, VECLIB_MAXIMUM_THREADS, NUMEXPR_NUM_THREADS.  We'd need to make sure we don't accidentally squash anything we need, but at first glance squas

[2021-04-07 20:34] bricegnichols opened #415 "Missing larch model "component_model""
I think that the larch package release may need to be updated to work with the latest changes on activitysim. From the example_estimation notebook, when the line `from activitysim.estimation.larch import component_model` is run the following error is returned:

[code]

I am running activitysim from the develop branch using `setup.py develop` and installed larch with `conda install larch -c conda-f

[2021-04-07 20:53] jpn-- commented on #415
Can you check what version of larch was installed?  From within Python:

[code]

or at the anaconda prompt:

[code]

I am not sure why, but anaconda has been installing older versions of larch from conda-forge sometimes.  If you've got an old one, try upgrading:

[code]

[2021-04-07 21:01] bricegnichols commented on #415
Thanks, Jeff, that was the issue. Seems to be running fine now.

[2021-04-07 21:01] jpn-- commented on #415
Also: it's possible the current version of Larch on conda-forge is somehow broken, I just discovered there was some sort of [infrastructure failure](https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=298658&view=results) on Azure during the most recent build. I'm going to try to re-build it.  If you're showing Larch 5.5.2 or later and still getting an error, wait a few hours

[2021-04-07 21:01] jpn-- commented on #415
Super!

[2021-04-07 21:01] #415 closed, assigned to nobody

[2021-04-13 13:43] bstabler opened #416 "More info when trip_purpose_and_destination has high fail rate"
When first setting up the iterative `trip_purpose_and_destination` model, some users get high trip fail rates, which is likely due to inconsistencies upstream related to input data, expressions, etc..  To aid in debugging, it would be good to produce more information that helps users understand the issue.  For example, maybe we can produce a crosstab of trip fail rate by purpose and mode.

[2021-04-23 22:16] bstabler commented on #411
#417

[2021-04-23 22:16] #411 closed, assigned to nobody

[2021-04-23 22:17] #391 closed, assigned to nobody

[2021-04-23 22:18] bstabler commented on #385
#417

[2021-04-23 22:18] #385 closed, assigned to nobody

[2021-04-23 22:18] bstabler commented on #384
#417

[2021-04-23 22:18] #384 closed, assigned to toliwaga

[2021-04-23 22:18] bstabler commented on #383
#417

[2021-04-23 22:18] #383 closed, assigned to toliwaga

[2021-04-23 22:19] bstabler commented on #382
#417

[2021-04-23 22:19] #382 closed, assigned to jpn--

[2021-04-23 22:19] bstabler commented on #381
#417

[2021-04-23 22:19] #381 closed, assigned to toliwaga

[2021-04-23 22:21] bstabler commented on #369
this is no longer needed since we added examples_arc in #417

[2021-04-23 22:21] #369 closed, assigned to nobody

[2021-04-23 22:21] bstabler commented on #361
#417

[2021-04-23 22:21] #361 closed, assigned to nobody

[2021-04-23 22:21] bstabler commented on #352
#417

[2021-04-23 22:21] #352 closed, assigned to toliwaga, jpn--

[2021-04-23 22:22] bstabler commented on #351
#417

[2021-04-23 22:22] #351 closed, assigned to jpn--

[2021-04-23 22:32] bstabler commented on #330
#417

[2021-04-23 22:32] #330 closed, assigned to nobody

[2021-04-27 15:22] bstabler opened #419 "better ways to manage model specifications moving forward"
- We should think about a better way to manage model specifications moving forward
   - As we build new submodels like transit pass ownership, we should figure out a good way to share / document / manage the model designs.  Most work to date has been largely transferring existing designs/ideas
   - Including documentation of data needs, where data came from for estimation, model development proces

[2021-04-27 15:25] bstabler commented on #377
Some more ideas from discussions with SANDAG:
-	Move from strings to factors
-	Exponentiate ahead of time TAP to TAP utilities, along with pre-computing access/egress costs
-	Smarter binary search / picking of an alternative from a large choice set (such as for location choice)
-	Make trip destination (i.e. intermediate stop location choice) aware of the tour mode so:
o	For bike, walk, transit to

[2021-04-27 16:16] stefancoe commented on #377
Some good ideas [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/enhancingperf.html) to increase pandas performance. The Pandas eval function looks interesting. Could it replace/substitute python eval in some cases?

[2021-04-27 17:16] jpn-- commented on #377
Not that we couldn't do it more, but we're already using `pandas.eval` in several places, for example:
- https://github.com/ActivitySim/activitysim/blob/bcdc7b63d4ff7bc2703810e226090c75c380bda4/activitysim/core/interaction_simulate.py#L146
- https://github.com/ActivitySim/activitysim/blob/bcdc7b63d4ff7bc2703810e226090c75c380bda4/activitysim/core/simulate.py#L443

[2021-04-27 17:26] stefancoe commented on #377
Oh good to know-Thanks for pointing that out!

[2021-05-06 01:49] bstabler opened #420 "add skims pre-processor"
@jfdman suggested ActivitySim add a skims pre-processor.  This could be run at the start of a model to pre-process input skims via a set of user expression files to create additional in-memory skims for later models in order to avoid re-doing some skim operations in separate submodels/chunks/etc.  This is similar to caching the TVPB tap to tap total utility "skim".   This could save runtime.

[2021-05-11 09:28] toliwaga opened #421 "problem with skim names in create example_xxx_full"
activitysim create example_xxx_full are broken where skims are split due to size. (i.e. where there are skims1.omx, skims2.omx,...)

This is because the manifest copies the example data folder then adds the skims to it, but if the example folder has a skims.omx for the small dataset, it doesn't get overridden and then the taz_skims specifier glob (in network_los.yaml) matches the residual file (wh

[2021-05-11 09:28] toliwaga commented on #421
Additionally, example_sandag_full refer has four files misnamed in the full data causing similar problems

maz_maz_walk.csv  <- destination incorrectly named and so fails to overwrite maz_to_maz_walk.csv

(but I fixed this latter issue in rss_chunk branch which will soon be merged to develop)

[2021-05-11 15:45] bstabler commented on #421
thanks @toliwaga, I tried to tidy up all the examples but missed a couple of items.  I simply deleted the small dataset skims.omx but now I'm wondering if it would be better to rename the small dataset skims.omx to skims1.omx so we can reuse the settings files.

[2021-05-11 16:08] jpn-- commented on #421
If renaming stuff, please make them with useful descriptive names, like "skims_small1.omx" or "skims_full1.omx" so it's obvious which files go with which tests.

[2021-05-17 20:52] jpn-- opened #424 "Convert distribution system to conda-forge"
The "estimation mode" test is travis is encountering sporadic failures in setting up the environment.  The actual ActivitySim code appears healthy, it's just the install of the conda test environment that is encountering a timeout.  Revising the test install process to use conda-forge from the start and to avoid flopping between the conda-forge and default channels (larch is not available in the d

[2021-05-18 17:58] guyrousseau commented on #414
ARC completely agrees with the recommendation.  Setting the maximum number of threads to align with the number of available processors will reduce overhead.  While it is possible to create more threads than available processors, and at times this can be useful, there is no benefit to doing so when you have a distributed computational platform such as the ActivitySim ABM.   A higher thread count co

[2021-05-18 18:05] guyrousseau commented on #409
As for file name length, ARC is a little more hesitant with this one.  The length requirement was originally set because of the constraints of binary itself (255) and consistent across many operating systems.  While modern operating systems are capable of addressing outside this original bound, not all client software installed and running on these operating systems are capable of addressing files

[2021-05-25 22:05] bstabler opened #425 "mention installing a specific version if desired"
it would be good to add how to install a specific (older) version of activitysim when needed

[2021-06-03 15:47] bstabler commented on #404
Often times a choice model cannot select an alternative since all alternatives are unavailable.  This is usually due to a data and/or expression issue/inconsistency.  For example, school location choice may not be able to select a school location zone for a student if the school location must be within X miles of the home zone and there is no school enrollment in the zonal land use data for zones

[2021-06-03 15:49] bstabler commented on #405
We're adding three `checkpoints` options:
  - if True, checkpoints are written at each step
  - if False, no intermediate checkpoints will be written before the end of run
  - An explicit list of models to checkpoint

[2021-06-09 01:20] #380 closed, assigned to nobody

[2021-06-11 23:03] #425 closed, assigned to nobody

[2021-06-11 23:14] #421 closed, assigned to nobody

[2021-06-11 23:14] #414 closed, assigned to nobody

[2021-06-11 23:14] #406 closed, assigned to nobody

[2021-06-11 23:14] #405 closed, assigned to nobody

[2021-06-11 23:14] #404 closed, assigned to nobody

[2021-06-11 23:15] #396 closed, assigned to nobody

[2021-06-11 23:15] #395 closed, assigned to nobody

[2021-06-11 23:15] #374 closed, assigned to nobody

[2021-06-11 23:15] #371 closed, assigned to nobody

[2021-06-11 23:15] #370 closed, assigned to nobody

[2021-06-11 23:16] #317 closed, assigned to nobody

[2021-06-11 23:16] #307 closed, assigned to nobody

[2021-06-11 23:17] #326 closed, assigned to nobody

[2021-06-15 15:28] danielsclint opened #428 "ARC Memory Issue"
When testing a migration for ARC to ActivitySim v1.0, the model is hitting a memory error. Any thoughts on a resolution?

The model runs fine with a smaller set of TAZ.

![image](https://user-images.githubusercontent.com/4667111/122080944-88a09f00-cdb3-11eb-8f3f-c5bd8ef7f3c6.png)

[2021-06-15 15:37] danielsclint opened #429 "V1.0 Utility Dataframe Column Changes (effects ARC)"
When testing the migration of ARC ActivitySim Version 1.0, I encountered a number of dataframe variable name changes as well as YAML syntax differences.

While not terribly complex changes, the V1.0 commits were clearly aware that changes needed to be made to the ARC implementation, because changes were made in the ARC example. In the future, a better way to handle this type of change would be to

[2021-06-15 17:56] bstabler opened #431 "review sandag one zone vs two zone setup performance"
- Goal is to understand performance differences from 1 zone to 2 zone
- Compare model specifications for model implementations
- Tour mode choice slows from 1 zone to 2 zone, why?
- Trip destination submodel slows down as well
- Want to control hardware configuration as well
- @bstabler, @jpn--  compare specs and review logging
- @wusun2 share logfiles, run with same specs across runs, and update

[2021-06-15 23:26] esanchez01 opened #432 "Long walk and bike distance trips"
While summarizing the SANDAG 3 Zone example outputs, we noticed that a small portion of the walk and bike trips exceeded their 3 and 8 miles limits, respectively. Since the SANDAG example relies heavily on the MTC example's configuration files, we ran the MTC example to see if the same issue existed, and it did. After investigating, the issue seems to be due to the following two expressions in [tr

[2021-06-16 19:00] danielsclint commented on #428
@bstabler: Running the ARC model in 'training' mode worked, and the model ran to completion. It also created a `chunk_cache.csv` in the output folder.

I started a second run with the chunk_cache.csv and `chunk_training_mode: production`. The model when it starts immediately deletes the contents of the output folder including the `chunk_cache.csv`. Is this the expected behavior?

In addition, the

[2021-06-16 19:07] danielsclint opened #433 "Shadow Pricing Size Term Results Missing"
When I run the ARC example with Shadow Pricing (`use_shadow_pricing: True`), no shadow price results seem to be exported from the model. I see trace files from each iteration.

Also, is there an example of how to specify the shadow prices as an input into the model, so we don't need to run shadow_pricing every model run?

[2021-06-16 19:10] danielsclint commented on #428
Okay, so apparently, the chunk_cache.csv file needs to moved to the cache folder in the outputs directory. At a minimum, documentation should be updated.

![image](https://user-images.githubusercontent.com/4667111/122278527-d690d200-ce9b-11eb-9e1e-96a9ee189904.png)

[2021-06-16 19:12] danielsclint opened #434 "Move chunk_cache.csv Location to Configs Folder"
The chunk_cache.csv file needs to be in the cache folder in the outputs directory. Since this is a model input, it might make more sense to move the reference to the configs or data folder.

![image](https://user-images.githubusercontent.com/4667111/122278527-d690d200-ce9b-11eb-9e1e-96a9ee189904.png)

_Originally posted by @danielsclint in https://github.com/ActivitySim/activitysim/issues/428#issu

[2021-06-17 16:49] jpn-- commented on #432
@bstabler, this looks like maybe a technical error that came up in the MTC model that RSG built earlier, want to take a look?

[2021-06-17 23:53] bstabler commented on #431
I'll take the lead for this and coordinate with @jpn--.  Thanks @esanchez01 for updating the examples.  Can you also share the logfiles from your runs?

[2021-06-18 01:20] esanchez01 commented on #431
@bstabler I sent over the location of the 1 & 2 zone logfiles through email.

[2021-06-18 16:02] bstabler opened #437 "make orca an official dependency"
Moving forward let's make the BSD-3 licensed [orca](https://github.com/UDST/orca) an official dependency

[2021-06-18 16:06] bstabler opened #438 "create vehicle type model and add vehicle table to pipeline"
https://github.com/ActivitySim/activitysim/wiki/Phase-6b-Scope-of-Work#task-2-vehicle-type-model

[2021-06-18 16:07] bstabler commented on #437
I think @jpn-- is going to do this?

[2021-06-18 16:18] jpn-- commented on #437
A few seconds looking at the commit referenced above, it appears that @toliwaga maybe actually did most of this already; orca.py's gone from the repo now.  I'll check more carefully soon and make sure our dependencies are installing correctly and everything, but my guess is it's good as travis is still passing.

[2021-06-18 19:12] bstabler commented on #434
And I'll add your comment from #428 that at a minimum, documentation should be updated.

[2021-06-18 20:16] jpn-- opened #439 "Implement performance benchmarking via Airspeed Velocity"
Build a prototype set of benchmarks using the [airspeed velocity](https://asv.readthedocs.io/en/stable/) tool.

[2021-06-19 16:08] jpn-- commented on #437
on further review, it looks like orca came back in 5a52dda147a21c4f80e93c40f5adf122f5dde193, probably unintentionally.  I'll cut it out again.

[2021-06-19 21:16] toliwaga commented on #437
Not unintentionally. If orca is in the environment, it is used, otherwise
core/orca.oh is used.

If you remove core/orca you should also remove the code (in inject amd
pipeline) that supports the two options.

[2021-06-19 21:26] toliwaga commented on #437
Sorry - I meant to say:

If orca is in the environment, it is used, otherwise core/orca.py is used.

[2021-06-22 16:41] danielsclint opened #441 "GitHub Permissions for WSP Team"
The following users need privileges in GitHub for Phase 6B.

- @danielsclint (Clint Daniels): Appropriate permissions to address and merge Pull Request and assign issues
- @billyc (Billy Charlton): Appropriate permissions to update Wiki / potentially merge pull request  and assign issues
- @e-lo (Elizabeth Sall): Appropriate permissions to address and merge Pull Request and assign issues
- @ddorin

[2021-06-22 16:49] bstabler commented on #441
I granted everyone write access.  Thanks.

[2021-06-22 16:51] #441 closed, assigned to bstabler

[2021-06-22 19:11] esanchez01 opened #442 "'Work' trips vs. 'work' trips"
While summarizing the SANDAG 3 Zone example outputs, we noticed that both a `work` and `Work` trip purpose existed. After investigating, it appears that `Work` trips are strictly inbound at-work sub-tour trips with a workplace destination -- this is enforced in [trip_purpose.py](https://github.com/ActivitySim/activitysim/blob/a57efa1418320cb88d72ad5f413aaa45131183a4/activitysim/abm/models/trip_pur

[2021-06-22 19:41] wusun2 commented on #442
@esanchez01 , what is the outbound purpose of this at-work tour example?

[2021-06-22 20:54] esanchez01 commented on #442
The overall sub-tour purpose is `atwork`. The first outbound trip purpose appears to always be `atwork`. The final inbound trip purpose is then `Work` as described above.

[2021-06-22 21:41] wusun2 commented on #442
@bstabler, on an at-work tour, should the first outbound trip purpose set to a 'real' purpose such as eat out, recreational, etc instead of at-work?

[2021-06-22 23:09] bstabler commented on #442
I think this might be issue #392, which I think is just a holdover from CT-RAMP.  The line of interest is [here](https://github.com/ActivitySim/activitysim/blob/master/activitysim/abm/models/trip_purpose.py#L164).   @esanchez01 - I think you mean trip_purpose.py instead of simulate.py above?

[2021-06-23 01:35] esanchez01 commented on #442
Yes, trip_purpose.py. This does seem to be the same issue you referenced. Thanks!

[2021-06-24 15:35] bstabler commented on #431
@jpn-- and I did some initial review and found the following:

**1 - the expression evaluation for the tour_mode_choice is slower for ONE zone versus TWO zone**

ONE ZONE

16/06/2021 23:47:30 - INFO - activitysim.core.mem - trace_memory_info tour_mode_choice.work.simple_simulate.chunk_1.eval_nl.eval_utils.add.expression_values rss: 62.41GB used: 122.29 GB percent: 38.2%
16/06/2021 23:47:35 - INFO

[2021-06-24 17:12] bstabler commented on #433
@danielsclint to investigate, thanks Clint

[2021-06-24 17:30] bstabler opened #443 "Visualization"
@danielsclint - We're now creating tasks for work moving forward so I created this placeholder task for your [visualization task](https://github.com/ActivitySim/activitysim/wiki/Phase-6b-Scope-of-Work#task-4-visualization).  Feel free to use this task, create tasks for subtasks, or manage it how you see fit using Issues so folks can follow along.  Thanks.

[2021-06-24 17:51] bstabler commented on #431
We're going to investigate some more to confirm the hypothesis and to hopefully develop an improvement.  We'll look at the DaySim and CTRAMP code for ideas as well.  Testing with the full scale setup will be important.  This would benefit both 2 and 3 zone setups.

[2021-06-24 18:18] bstabler commented on #442
I'll spend a little time looking into this some more with the plan of tidying this up:
  - the capitalization issue
  - the "real" purpose
  - make it less confusing, more intuitive
  - fix example expressions, notebooks

[2021-06-25 14:48] stefancoe commented on #428
@danielsclint & @bstabler - I ran the PSRC model in 'training' mode and it created the 'chunk_cache.csv' file in the 'cache' folder in the outputs directory. I then re-ran the model in 'production' mode using the same output directory and it did not delete the 'cache' directory nor the 'chunk_cache.csv' file and ran as expected.

[2021-06-26 00:27] esanchez01 opened #444 "SANDAG run time results after chunking update"
I have been testing the recent chunking update on the 1-Zone SANDAG example. The tests were run on a server with the following specs:
- Processors: 2 Intel Xeon CPU E5-2690 v4 @ 2.60Ghz
- Cores: 28 Cores, 56 Logical Processors
- Memory: 256 GB RAM

The `chunk_training_mode`, `chunk_size`, and `num_processes` settings were set per the [documentation](https://activitysim.github.io/activitysim/core.h

[2021-06-28 15:34] bstabler commented on #431
@esanchez01- I'm in the process of testing [this](https://github.com/ActivitySim/activitysim/compare/faster-maz-maz) improvement on a full scale version of your model and hoping you can test it as well?

[2021-06-28 18:11] bstabler commented on #444
Hi @esanchez01.  Can you point me to your specific settings?  Maybe you can post these in a fork/branch and refer to it here?  I was getting similar/consistent runtimes in my testing so I'm not sure what's going on.  Do you know if anyone else was also using the machine?  Thanks.

[2021-06-28 23:40] bstabler commented on #442
The commit above removes the capitalization.  The rules for assigning purpose are below, along with a screenshot with consistent results:
  - last trip of outbound tour gets tour primary_purpose
  - last trip of inbound tour gets home (or work for atwork subtours)
  - intermediate stops (non-last trips) purpose assigned by probability table _trip_purpose_probs.csv_, which includes a "work" purpose

[2021-06-29 00:29] esanchez01 commented on #444
@bstabler, you can find the settings/config files that were used [here](https://github.com/esanchez01/activitysim/tree/sandag-chunk-test/activitysim/examples/example_sandag/chunk_tests/sandag_1_zone_chunk). You can also find the generated chunk_cache.csv files and a subset of each run's outputs in the `test_outputs` folder. Let me know if you have any questions, thanks.

I am not aware of anyone e

[2021-06-29 01:21] esanchez01 commented on #431
@bstabler, I manually made the change you mentioned to v0.9.9.1, as this is the version my previous tests ran on (no chunking update), and reran the full SANDAG 2-Zone PSRC-based example. There are some noticeable run time improvements when compared to the equivalent 2-Zone run I shared the log files for:

model_name | Pre-Update | Post-Update | Pre - Post
-- | -- | -- | --
compute_accessibility |

[2021-06-29 05:21] stefancoe commented on #444
@bstabler @esanchez01 we are also seeing longer run times in version 1.0.1 compared to version 0.9.9.1. I created the chunk cache following the recommended training settings and then ran in production, yielding a total runtime of 282 minutes, compared to 186 minutes in the older version.

[2021-06-29 15:30] bstabler commented on #444
@esanchez01 - can you include the *.log files?  I wonder if the setup is thrashing?  Can you try 26 processors for your 28 core machine and set MKL threads to 1 if not previously done?  Thanks.

[2021-06-29 15:45] bstabler commented on #431
I like these improvements.  Tour mode choice is still quite a bit slower than the 1 zone example, which, if I recall, was a couple minutes, so I'll keep investigating.  @esanchez01 - can you post the 1 zone example runtimes by submodel for reference?

[2021-06-29 16:21] esanchez01 commented on #431
Here are the results of the 3-Zone rerun:

model_name | Pre-Update | Post-Update | Pre - Post
-- | -- | -- | --
compute_accessibility | 42.3 | 39.3 | 3
school_location | 21.4 | 13.3 | 8.1
workplace_location | 41.1 | 28.2 | 12.9
mandatory_tour_scheduling | 31.8 | 17.1 | 14.7
joint_tour_destination | 17.5 | 4.5 | 13
non_mandatory_tour_destination | 49.3 | 31.7 | 17.6
tour_mode_choice_simulate | 38.5

[2021-06-29 17:04] billyc commented on #443
@bstabler  Could you create a new Milestone for **Phase 6b Task 4: Visualization** please? I don't have the right permissions.

Thanks!

[2021-06-29 17:08] esanchez01 commented on #431
Complete run time list for an optimized 1-Zone run:

model_step | 1-Zone
-- | --
initialize_landuse | 0
initialize_households | 1.3
compute_accessibility | 0.9
school_location | 4.8
workplace_location | 10.9
auto_ownership_simulate | 0
free_parking | 0.1
cdap_simulate | 0.4
mandatory_tour_frequency | 0.1
mandatory_tour_scheduling | 6.1
joint_tour_frequency | 0.1
joint_tour_composition | 0
joint_to

[2021-06-29 17:08] bstabler commented on #443
@billyc done

[2021-06-29 19:43] esanchez01 commented on #444
@bstabler, the log files are now included. For the sake of space, I include only a subset of them for each of the runs. You can find a larger subset for the last production run ([here](https://github.com/esanchez01/activitysim/tree/sandag-chunk-test/activitysim/examples/example_sandag/chunk_tests/sandag_1_zone_chunk/test_outputs/output_history/output_45proc_230ram_post_adaptive_3_server_reboot)).

[2021-06-29 22:00] e-lo opened #445 "[chore] update github label options to be consistent with semantic commit categories"
Update gh labels to be consistent with semantic commit message categories as documented in [conventional commits v1.0.0](https://www.conventionalcommits.org/en/v1.0.0/) and other [commonly-referred-to-repositories](https://gist.github.com/joshbuchea/6f47e86d2510bce28f8e7f42ae84c716)

[2021-06-29 22:06] e-lo commented on #445
Implemented via Github UX

![image](https://user-images.githubusercontent.com/794787/123873574-867a2c80-d8eb-11eb-84ff-7b2748fe1e06.png)

[2021-06-29 22:06] #445 closed, assigned to e-lo

[2021-06-30 00:00] esanchez01 commented on #442
@bstabler, I reviewed and discussed this over with @wusun2. We had a couple comments:

- The order for some intermediate trips are strange, as shown in tour_id 13286136 and 66923525 of the screenshot you shared. For the latter tour, the first outbound trip's purpose is 'work' yet it originates from the workplace. It is understood that these intermediate trips are assigned a purpose probabilistical

[2021-06-30 03:51] stefancoe commented on #444
@bstabler & @esanchez01 It looks like trip scheduling is the major culprit for us- ~60 minutes with new code compared to ~4 minutes with the old. Today was pretty busy so I did not have time to summarize run time for each sub model, but should be able to tomorrow.

[2021-07-02 15:05] stefancoe commented on #444
For another test, I ran the old and new code using 20,000 households and turned multiprocessing off. The new code resulted in longer run times for every step (many being significantly longer). The timing logs for each run are attached. I had to stop the new run short at trip scheduling because it was taking so long, and we needed the machine for something else. It seems like there is something cau

[2021-07-02 23:58] jpn-- opened #449 "Breaking changes in pandas 1.3"
Pandas 1.3 was released today.  There are changes that break ActivitySim.

At least this line no longer works:

https://github.com/ActivitySim/activitysim/blob/a57efa1418320cb88d72ad5f413aaa45131183a4/activitysim/core/simulate.py#L232

As an interim solution, use the latest flavor of pandas 1.2.

[2021-07-03 20:42] esanchez01 commented on #444
@bstabler, I had a chance to test with 26 processors. Setting the chunk size to 220-230 GB RAM, like my previous tests with 45/56 processors, lead to memory issues, as mentioned in my original post. Only after setting the chunk size to 190 GB RAM did a run complete -- anything greater failed.

The total run time for a completed run with the 190 GB RAM setting was ~360 minutes. This is similar to t

[2021-07-06 23:26] danielsclint commented on #433
### Warm Start Shadow Pricing
The code does have a spot where shadow prices are [read into the model](https://github.com/ActivitySim/activitysim/blob/a57efa1418320cb88d72ad5f413aaa45131183a4/activitysim/abm/tables/shadow_pricing.py#L169-197). Within the model specification YAML (e.g., school location, work location), the user needs to specify a property called `SAVED_SHADOW_PRICE_TABLE_NAME`. Thes

[2021-07-06 23:36] danielsclint opened #450 "Max Time Block Available vs Remaining Periods Available"
At some point earlier this year, a new method was added (max_time_block_available) obstensibly to support the SEMCOG implementation. This is great, but the check-in did not follow the commit protocol questionaire referenced in the documentation. We now have two method, max_time_block_available and remaining_periods_available, that appear to do two very similar things.

I think the max_time_block_a

[2021-07-07 15:21] stefancoe commented on #444
@bstabler & @esanchez01 I tested the same configuration as above (20k households, 1 processor) and applied python’s cProfile to the mandatory tour scheduling model for both new and old code. Looking at the attached results, two functions (psutil_windows.proc_memory_uss &  psutil\_pswindows.py:839(memory_full_info)) really stand out in the new code and they seem to be related to the dynamic chunkin

[2021-07-07 22:04] stefancoe commented on #444
@bstabler Trying to figure out where psutil_windows is being called by ActivitySim. It looks like this occurs in [mem.py](https://github.com/ActivitySim/activitysim/blob/master/activitysim/core/mem.py) in several locations including [trace_memory_info](https://github.com/ActivitySim/activitysim/blob/master/activitysim/core/mem.py#L173). This module is called by [log_rss](https://github.com/Activit

[2021-07-07 22:37] danielsclint commented on #428
I can confirm the behavior that Stefan mentioned. I'm able to generate the chunk_cache.csv file and maintain it through time. I'm still running into a memory error in the ARC ActivitySim implementation in work location choice. In the images below, I ran the model through work location in 'training' mode, and it worked (albeit a little slow). I then changed the `chunk_training_mode` to 'production'

[2021-07-08 15:24] bstabler commented on #450
We kept ``remaining_periods_available`` for backwards compatibility.  We're going to check which examples use it and why.  We may be able to drop it now that we have ``max_time_block_available``.

[2021-07-08 15:32] bstabler commented on #449
Should we freeze activitysim at pandas 1.2, keep it flexible with the hope that this issue will resolve itself, or update activitysim?  In the past when this has happened, the answer typically depends on the level of effort for the fix.  @jpn-- do you have an idea of the LOE?

[2021-07-08 15:57] bstabler commented on #433
I think we should add more documentation for shadow pricing [here]( https://github.com/ActivitySim/activitysim/blob/master/docs/models.rst#shadow-pricing).  This section is largely built from the code docstrings, but it looks like the [ShadowPriceCalculator](https://github.com/ActivitySim/activitysim/blob/master/activitysim/abm/tables/shadow_pricing.py#L79) docstrings are not included so much of t

[2021-07-08 16:01] bstabler commented on #428
You need to set `num_processors` and `chunk_size`.  Try setting `num_processors` and `chunk_size` to something like 80% of available processors and machine RAM and also set MKL_NUM_THREADS=1.

[2021-07-08 17:47] danielsclint commented on #450
It looks like the `remaining_periods_available` is being used across a number of implementations.

This is from @jfdman in an email on 2/9/2021 (@bstabler was on the cc):

https://github.com/wsp-sag/client_arc_activitysim/blob/master/configs/tour_scheduling_nonmandatory.csv#L94

What is not clear to me is whether the new `max_time_block_available` was inserted to address this problem. At the end o

[2021-07-08 19:00] bstabler commented on #450
Yes, this is the new method, and its use is illustrated [here](https://github.com/ActivitySim/activitysim/blob/master/activitysim/examples/example_semcog/configs/tour_scheduling_nonmandatory_shopping.csv).  Let me look into the deprecation question some more.

[2021-07-08 20:42] jpn-- opened #451 "Travis Python versions"
We currently test in Travis against Python versions 3.7 and 3.8.  The current "latest" version is 3.9, which was released in October 2020.  It's now mature and all our dependencies are available on Python 3.9.

(a) I suggest we begin testing and supporting Python 3.9.  Doing so will also help with automating PYPI release deployment via travis, as travis can only deploy what it tests.  This should

[2021-07-09 00:30] bstabler commented on #451
(a) agreed
(b) agreed
(c) fine by me, but I wonder if others have an opinion?

[2021-07-09 14:22] jpn-- commented on #449
Total level of effort in the end was just a few hours.  In addition to the line noted above, pandas now complains with a performance warning about memory fragmentation when building certain dataframes.  The default settings for ActivitySim promoted the warning to an error. I tried to fix the problem by defragmenting the relevant data frames when the warning occurs, but it turned out that's not so

[2021-07-09 14:22] #449 closed, assigned to jpn--

[2021-07-09 14:27] jpn-- opened #452 "pandas 1.3 PerformanceWarning"
Running with pandas version 1.3 emits PerformanceWarnings at various points, they look like this:

As noted in #449 the defrag approach suggested in the warning does not work on DataFrames with a lot of bool columns.  We should identify whether this is actually a meaningful performance problem for us, and if it is then investigate possible solutions.

[2021-07-09 20:54] bstabler commented on #444
Thanks @esanchez01 for the analysis.  We agreed on the 7/8 call to further investigate.  Maybe there's too much memory use introspection still going on during a production run?  I'm going to look into the spots @stefancoe identified.

[2021-07-09 21:29] bstabler commented on #431
It's still on my list to further investigate the performance difference for trip mode choice after the improvement: 1.2 min for 1 zone versus 15.7 for 2 zone.

[2021-07-09 22:40] bstabler commented on #442
@joecastiglione noticed that some coefficients are both in the coefficient file and still hardwired into the expressions file.  I think these just got forgotten in the migration from expression files to expression files + coefficient files for estimation integration.  I just updated these.

[2021-07-09 22:46] bstabler commented on #442
We agreed on the 7/8 call to set aside the issues @esanchez01 notes since they're lower priority than other current issues.

[2021-07-12 15:59] bstabler commented on #444
I made a couple updates in this [commit](https://github.com/ActivitySim/activitysim/commit/13591836cc00507935b672d7218cebb3b7a3c321) for two issues:
  - 1 - log_rss is slow because it calls [psutil.Process.memory_full_info](https://psutil.readthedocs.io/en/latest/#psutil.Process.memory_full_info).  The linked docs say that memory_full_info is the only way to get uss and that memory_full_info is co

[2021-07-12 16:02] bstabler commented on #444
@esanchez01, @stefancoe - can you test the update and report your runtimes?  thanks.

[2021-07-12 20:52] esanchez01 commented on #444
@bstabler, I reran the SANDAG 1 zone example with the above changes (updates to chunk.py and using hybrid_rss as the chunk method) and achieved a total run time of ~117 minutes. This is comparable to the total run time we were seeing prior to the chunking update. The most notable differences after making the above changes are in trip scheduling, which was reduced from 142 minutes to 2 minutes, and

[2021-07-13 21:04] bstabler commented on #431
I ran the sandag 2 zone setup on my server with the maz-maz cost lookup improvement above + the chunking improvement on #444 and trip_mode_choice ran in 10 minutes.  I then turned off the od_skims['DISTWALK'] and od_skims['DISTBIKE'] expressions in trip mode choice by instead using a value of 0.5 and then restarted the run at trip mode choice and trip_mode_choice ran in 8.7 minutes.  That's a bit

[2021-07-14 15:48] stefancoe commented on #444
It now runs in 206 minutes, which is a big improvement over 282 minutes, but still a little slower than ~186 with the old code. I am going to experiment with training mode and see if I can get it down a bit more. I will also run the old code one more time to create the timing  log, which I neglected to save.

EDIT:
It looks like trip scheduling is still longer than it was. I will try using chunk_m

[2021-07-15 19:55] danielsclint commented on #450
I found the reference between the ARC UEC and the `max_time_block_available`. The UEC referenced a method called [`getTimePressure`](https://github.com/wsp-sag/arc/blob/0a8a8583efadca06c48fc98673977c006bb170dc/src/java/com/pb/arc/tourBased/ArcTourDepartureTimeAndDurationDMU.java#L189). The `getTimePressure` then references [`getMaxTimeBlockAvailable`](https://github.com/wsp-sag/ctramp/blob/9b0c42f

[2021-07-15 19:55] #450 closed, assigned to bstabler

[2021-07-15 21:57] bstabler commented on #451
We agreed on the 7/15 call to require the current python release, so 3.9 for the time being.  If an agency model is in production and uses an older version, then we may support it for some time as well.  Agencies can always freeze the version of asim they are using.  We plan to discuss this topic some more as agency use increases.

[2021-07-15 22:10] bettinardi commented on #451
Just to put a quick vote in -
ODOT would be freezing any production version of ActivitySim.  Once we have a calibrated ActivitySim used with an adopted RTP, we would be refraining from doing any software updates to that copy.  JPN mentioned a bug issue, and if a really big bug were found we would have to unfreeze and figure that out.  But TDM's have minor bugs, that's just a fact.  So we would hav

[2021-07-19 02:25] guyrousseau commented on #428
@danielsclint was this test performed on an ARC server or a WSP server? I don't recognize the APPS directory name, so I assume this test was on a WSP server? If so, are those specs similar to the specs from our ARC servers?

[2021-07-20 15:50] bstabler opened #460 "Anaconda no longer free for organizations > 200 employees"
As @jpn-- points out in #455, Anaconda is no longer free for organizations > 200 employees.  See the [Anaconda Commercial Edition FAQ](https://www.anaconda.com/blog/anaconda-commercial-edition-faq).  We're in the process of updating our documentation to use the free [miniforge](https://github.com/conda-forge/miniforge) as well.

[2021-07-20 20:38] jpn-- opened #461 "Proposed change to GitHub workflow"
To support the broader pool of developers, and per a suggestion by @bstabler, I am proposing this modest change in our GitHub workflow.  In short, the changes codifies the `develop` branch as a place to stage features that are ready for the next release, and not a place where new features are built and tested.

* The ``master`` branch contains the latest release version of the ActivitySim resource

[2021-07-21 03:10] jpn-- commented on #439
In response to a question from our [discussion today](https://github.com/ActivitySim/activitysim/wiki/Project-Meeting-2021.07.20):  We are presently unable to use ASV to record machine characteristics other than those currently collected (cpu type, number of cores, operating system, quantity of ram).  These categories are hard-coded into ASV.  We can open an issue to request other dimension, but i

[2021-07-22 18:50] esanchez01 commented on #431
@bstabler, I am in the process of re-running all 3 set ups -- I trained and ran the 1 and 2 zone setups so far. I am attaching the run times for the completed runs and will update as more runs complete.

Compared to the 1 zone setup, the 2 zone setup sees a significant run time increase for the mode choice sub models. I am wondering if this is due to `chunk_method: hybrid_rss` being used, as menti

[2021-07-23 00:40] bstabler commented on #451
in #455

[2021-07-23 00:40] #451 closed, assigned to nobody

[2021-07-23 00:41] bstabler commented on #461
We agreed on the 7/22 call to do this.   It's key that when we accept something to develop, we don't then do any additional work on it.  Instead, we do any additional work in a feature branch (based on the updated develop branch) and then PR to develop.

[2021-07-23 00:42] bstabler commented on #461
Let's update the documentation before we close this.

[2021-07-23 00:44] bstabler commented on #437
this is in #455

[2021-07-23 00:44] #437 closed, assigned to jpn--

[2021-07-23 00:49] bstabler commented on #444
We discussed this issue on the 7/22 call and I'm still investigating.  Turning off additional memory info calls for subsequent iterations of trip_scheduling (and just reusing the first iteration call) took the draft SANDAG two zone model from 80 minutes runtimes to 3 minutes.

[2021-07-23 21:13] stefancoe commented on #444
@bstabler  I re-started a run after trip_purpose_and_destination with hybrid_rss and, as expected, trip scheduling ran much faster and completed within 3 minutes. Also as expected, it's now spending a lot of time running trip_mode_choice. It looks like the model is running individual chunks for each chooser:

23/07/2021 13:54:56 - INFO - activitysim.core.chunk - Running chunk 1 of 33455 with 1 of

[2021-07-23 23:40] bstabler commented on #461
@jpn-- updated the docs in #455

[2021-07-23 23:40] #461 closed, assigned to bstabler

[2021-07-30 09:00] stevenhz opened #464 "Example test_example_mtc failed with asim 1.0.1"
Dear,

I have followed the installation instructions and try to run the example MTC.  I see the installed version is 1.0.1.  The example fails in school-location model. Here below you can see the output. Could you see where it goes wrong? Thanks.

`activitysim create -e example_mtc -d test_example_mtc`
[code]
Inside test_example_mtc folder, type `activitysim run -c configs -o output -d data`
[code

[2021-07-30 12:06] jpn-- commented on #464
ActivitySim 1.0.1 is not compatible with pandas 1.3, see #449.  Try downgrading your install of pandas to 1.2:

```conda install "pandas=1.2"```

[2021-07-30 12:09] stevenhz commented on #464
Thank you!

[2021-07-30 12:09] #464 closed, assigned to nobody

[2021-07-30 21:46] bstabler opened #465 "warn if tap lines file not included"
for 3 zone system models, make tap lines file required, or at least create a warning if not included, see [los.py](https://github.com/ActivitySim/activitysim/blob/master/activitysim/core/los.py#L271).

[2021-07-31 20:57] stevenhz opened #466 "Failure in choose_intermediate_trip_purpose() funtion in trip_purpose model"
Hi,

When running my own dataset, I encountered a failure at `choose_intermediate_trip_purpose` in trip_purpose.py file.  This is due to `if chooser_probs.sum() < num_trips:` is true. Indeed, in the trips dataframe there are trips having `primary_purpose` school while the person's person_type is `PTYPE_UNIVERSITY`, so there are no match records in `probs_spec` (which is from `trip_purpose_probs.cs

[2021-08-01 16:08] bstabler commented on #466
https://github.com/ActivitySim/activitysim/blob/master/activitysim/examples/example_mtc/configs/stop_frequency_annotate_tours_preprocessor.csv#L3

[2021-08-04 20:27] #466 closed, assigned to nobody

[2021-08-04 22:01] bstabler commented on #444
With the commit above, the in-development sandag two zone system is running about 15% slower with chunking than without chunking on my machine ([timing_log_updated.xlsx](https://github.com/ActivitySim/activitysim/files/6934419/timing_log_updated.xlsx)).  Since chunking is needed when there's not enough RAM to complete the simulation without chunking, I think this is good enough for now so I pulled

[2021-08-05 16:39] bstabler commented on #465
We decided to make the tap lines file required since all 3 zone system models to date have one

[2021-08-06 19:39] esanchez01 commented on #444
@bstabler, I tested the SANDAG 2 zone system using develop. A few notes:

- The run was failing this [assertion](https://github.com/ActivitySim/activitysim/blob/c71e1ca56d0c6a9729fe6fd1a3922abc6a219d5d/activitysim/core/chunk.py#L738) due to the chunk tag for trip scheduling changing from `trip_scheduling_1` or `trip_scheduling_n` (previously set [here](https://github.com/ActivitySim/activitysim/co

[2021-08-07 14:29] bstabler commented on #444
Yes, the old chunking file will not work since I changed the trip_scheduling chunk labeling.

I ran the 3 zone system example that you sent me on our 32 core 512 GB RAM machine and here's the
[timing_log_updated_3zone_tests.xlsx](https://github.com/ActivitySim/activitysim/files/6949228/timing_log_updated_3zone_tests.xlsx) file.

The key numbers are:

  - 124 minutes submodel runtime with 28 proces

[2021-08-07 14:31] bstabler commented on #431
In my experience, hybrid_uss performs best.  I think hybrid_rss (and really just rss for that matter) doesn't produce very reliable estimates of memory use/need for this purpose.

I have some updated performance notes in #444.

[2021-08-11 17:20] danielsclint commented on #428
@guyrousseau- I missed this earlier. The test are being run on a WSP server. Raghu and Jonathan have been running similar tests on the ARC servers. I'm not sure on the specs of the ARC servers. The WSP server is 48 cores and 528Gb of memory.

[2021-08-11 17:21] danielsclint commented on #428
This issue has been resolved with my latest tests and chunking. Setting the `num_processors` and `chunk_size` to about 80% of available resources helped.

[2021-08-11 17:21] #428 closed, assigned to nobody

[2021-08-11 19:51] guyrousseau commented on #428
Thanks @danielsclint, to answer your question, ARC server specs are listed here:          https://github.com/ActivitySim/activitysim/wiki/Server-Specs

[2021-08-11 20:20] wusun2 commented on #428
@guyrousseau and @danielsclint , have you done ActivitySim testing on ARC 48 physical core and 512 RAM and RSG's 32 core and 512 RAM  servers?  If so, any performance differences?

[2021-08-12 20:08] danielsclint commented on #428
Hi @wusun2 - We just finished with the proof-of-concept deployment of ActivitySim version 1.0.2 on the WSP server for ARC. The latest chunking enhancements are an improvement. In this [Google Spreadsheet](https://docs.google.com/spreadsheets/d/1AvNSrO7H5ooqPMkrdDSYf3P3Rkx8yAr2V3AqNOsK77Y/edit?usp=sharing), I’ve summarized the runtime results from three runs conducted this summer. All runs are mult

[2021-08-12 23:08] wusun2 commented on #428
@danielsclint , this is very helpful.  It is encouraging to see the recent improvements (seems beyond just chunking improvements) resulted in better performance.  @esanchez01 's tests proved that SANDAG's best server with 320GB RAM doesn't performance as well as WSP's and RSG's ~500G RAM servers.  We plan to purchase similar or even better servers.  Lastly, is the improvement on tour departure and

[2021-08-16 16:04] bstabler opened #469 "Regenerate personal access token for ActivitySim push gh-pages"
From GitHub:

We noticed your personal access token, ActivitySim push gh-pages, has an outdated format...We recently updated the format of our API authentication tokens, providing additional security benefits to all our customers....In order to benefit from this new format, please regenerate your personal access token...To understand more about this change and why it's important, visit https://git

[2021-08-16 16:06] bettinardi commented on #469
Does this require an action from all partners?

[2021-08-16 16:07] bstabler commented on #469
No, I can do it.  I just don't want to forget about it.

[2021-08-17 16:13] bstabler commented on #460
the documentation has been updated

[2021-08-17 16:18] bstabler commented on #465
We decided to warn instead of require since this file is not included in one of the examples.  This warning is now in the released version.

[2021-08-17 16:18] #465 closed, assigned to bstabler

[2021-08-17 22:08] bstabler commented on #424
Everything is ready to go on our end.  We're just now waiting for conda forge to compile the recipe.  Stay tuned.

[2021-08-17 22:10] bstabler commented on #434
I made some documentation updates in the released version.

We support a few different types of input cache files (skims and TVPB pre-computed tap to tap costs) in the output\cache folder so I don't think it makes sense to move just the chunk cache file at this time.  However, I like this general idea so I'll leave this issue open, but unassign it so we can reconsider it later if we want.

[2021-08-17 22:14] bstabler commented on #428
@wusun2 - yes, the tour departure and duration segments feature is in the develop (and now master) branch.

[2021-08-17 22:56] bstabler opened #470 "Need start and end period combinations for tour departure and duration segments for representative logsums"
from @jfdman

The start and end times need to vary by departure and arrival period COMBINATION rather than the single dimension of period. Why? Lets say that the most commonly observed start time in the EV period is 35 and the most commonly observed end time in the EV period is 33. That will be ok for all period combinations EXCEPT for tours starting and ending in the EV period. In such cases the

[2021-08-20 13:32] jpn-- commented on #424
The logjam is cleared, and version 1.0.2 is now on conda-forge.  https://anaconda.org/conda-forge/activitysim

[2021-08-20 13:32] #424 closed, assigned to jpn--

[2021-08-25 20:21] bstabler opened #476 "document chunking settings for estimation mode"
The estimation mode documentation should include a discussion of the appropriate chunking configuration, i.e. production or disabled.

[2021-08-26 19:06] jpn-- opened #477 "Documentation for using estimation mode for model development"
ActivitySim's estimation mode documentation needs to be expanded to better explain how to use Estimation Mode for model development, including:

- [ ] How `larch.ModelGroup` works to jointly estimate multiple models.
- [ ] How to manipulate the utility function of a model after it has been declared but before parameters are estimated. For advanced users, this can facilitate model development, allo

[2021-08-31 23:22] bstabler commented on #431
I will run SANDAG 1, 2, and 3 zone examples on my server and report runtimes.

[2021-08-31 23:24] bstabler commented on #444
We made good progress on this topic and we released the improvements so I'm closing this issue.  Issue #431 is still open.

[2021-08-31 23:24] #444 closed, assigned to bstabler

[2021-08-31 23:25] bstabler commented on #431
Once #439 is working, we'll have new SANDAG 1, 2, and 3 example runtimes to inform future work efforts.

[2021-09-03 04:20] bstabler commented on #431
Below are updated runtimes for 100% samples of the in-development example_sandag 1, 2, and 3 zone system setups on my Intel Xeon 2.1 GHz 32 core 512 GB RAM server with 28 num processors configured and chunking disabled.  The runtimes for the 3 configurations are similar, which suggests the differences we saw earlier in the runtimes between the setups was likely due to chunking due to the use of le

[2021-09-03 16:42] esanchez01 commented on #431
@bstabler, thank you for sharing. If possible, can you add the total (sub model + non sub model) run times? Also, it would be good to know what the RAM usage of each run was to get a sense of how much may be needed and how the different zone systems compare.

[2021-09-09 19:40] wusun2 commented on #431
@bstabler, these are interesting results.  I am surprised to see the location choices of 1-zone performed worse than the 2-zone system, some are even worse than the 3-zone system.  For example, the trip location time for 1, 2, and 3 zones are 40.5, 37.4, and 35.7 minutes (this is the most time consuming step also, roughly 30-40% of total runtime).  This is counter-intuitive, because 1-zone locatio

[2021-09-09 19:48] joecastiglione commented on #431
I was also a bit confused by these results.  While super-encouraging from a 3-zone perspective, it is my understanding that there are simply fewer calculations in the 1- and 2-zone systems due to the absence of TVPB, so why is there no performance advantage to these simple setups?  Is this a matter of more time having been spent optimizing the 3-zone?  If so, I think we need to dig into the 1- and

[2021-09-09 19:51] wusun2 commented on #431
@joecastiglione , I agree we need to dig into the 1 and 2 zone performance more.  Especially, some of us will use the 1 or 2 zone system as their region's production model.

[2021-09-14 00:41] danielsclint commented on #433
I added a more lay man's set of documentation to the RST files.

https://github.com/ActivitySim/activitysim/pull/480

[2021-09-17 00:05] bstabler commented on #460
@jpn-- to update Getting Started page so it suggests miniforge as opposed to Anaconda.  @bstabler to test workflow as well.

[2021-09-17 00:29] bstabler opened #483 "Agreed upon and publish process for working with large investments outside the partnership"
As discussed at the 09/16/21 meeting, the draft process and phases for working with large investments outside the partnership is:

- Before work
  - create issue assigned to agency owner and then consortium decides to add the issue to the project board as _in progress_
    - this is a soft approval to continue with the work with the idea that the contribution will be incorporated
    - our first r

[2021-09-17 00:31] bstabler opened #484 "add improvements for SANDAG cross border model"
See work being done in PR [#481](https://github.com/ActivitySim/activitysim/pull/481)

[2021-09-17 09:07] stevenhz opened #485 "estimation data in data folder and survey_data folder"
Hi,

I am running activitysim for estimation in order to first create EDB files using this command `activitysim run -c configs_estimation/configs -c configs -o output -d data.`

However, the program requires to provide the persons.csv file in the data directory.  I would like to know:
- Should the `data/persons.csv`  having exact the same person_id as that in `data/survey_data/override_person.csv`

[2021-09-17 19:24] bstabler commented on #460
I tested this on my Windows machine and it worked fine.  The steps are:

0. Remove all existing Anaconda installs to avoid conflicts
1. Download the [miniforge](https://github.com/conda-forge/miniforge) installer for Windows
2. Install it, but make sure to select 'add miniforge3 to the system PATH environment variable' so typing 'conda' on the command line will work
3. Open a command prompt and ty

[2021-09-17 19:25] bstabler commented on #485
Yes, since the input_table_list households and persons are read first and then the survey_tables households and persons are read second and joined.  However, you could instead point the input_table_list households and persons settings to the survey_tables households and persons files to avoid having somewhat duplicative tables.

[2021-09-18 10:06] stevenhz commented on #485
Thanks!

[2021-09-19 23:39] esanchez01 commented on #431
@bstabler, I am attaching a workbook that breaks down the 1, 2, and 3 zone run times (ran on a SANDAG server) and contains notable logging for certain sub models that appeared to have performance issues. This includes what was covered during the 9/14 technical call.

[zone_run_time_analysis.xlsx](https://github.com/ActivitySim/activitysim/files/7193132/zone_run_time_analysis.xlsx)

[2021-09-21 13:01] stevenhz opened #487 "chunk training takes time"
Hi,

In the latest version (1.0.3), I notice that when chunk_training_mode is training, the calculation time will be about 5x slower on a test dataset having 5000 households. Even I changed the mode to "production", it will turn automatically back to training because of lacking training information.

Although the training only needs once, for a simulation that takes 14 hours on an older version (0

[2021-09-21 15:38] wusun2 commented on #484
SANDAG migrated its Crossborder model from CT-RAMP to ActivitySim recently.  The goals are: 1) better software engineering to improve model maintenance and performance 2) test ActivitySim extensibility on a special market model 3) update the model to reflect a recent survey.   The first two software engineering goals have been achieved.   Not only ActivitySim has been extended to a special market

[2021-09-22 18:42] bstabler commented on #487
Take a look at the [chunking documentation](https://activitysim.github.io/activitysim/core.html#chunk-size) for more information.  The previous version used one chunk size value for all submodels, where as the new version uses a separate value for each submodel.  I think what you'll need to do is first train the chunker and then run it in production mode.  You can use a sample of households to spe

[2021-09-22 21:11] bstabler commented on #483
see #484

[2021-09-23 08:07] stevenhz commented on #487
Thank you!

[2021-09-23 08:07] #487 closed, assigned to nobody

[2021-09-23 15:34] danielsclint opened #488 "Black and iSort Code Formatting"
As we have more contributors to the code, we should begin to enforce code formatting. The review of the SANDAG cross-border model and other enhancements revealed code changes that added line breaks and other formatting changes. Code format is inherently biased by the person writing the code, and we could end up with lots of formatting changes in the Github repo rather than substantive changes over

[2021-09-23 17:37] jpn-- commented on #488
We do have some basic code formatting enforced currently by pycodestyle, it's not like it's the wild west out here currently.  I'm not fundamentally opposed to black instead, but suggesting it's "easy" is leaving out a lot of work for anyone who's working on code updates that don't get merged first. This is a huge project already with at least 57 known forks, and doing this is like dropping a glit

[2021-09-23 18:06] e-lo commented on #488
I like this as it makes sure that future diffs are really...diffs.   I suggest the following:
- add black as a pre-commit hook in main and develop
- add a commit that is purely a "cleanup" commit with a message reminding PRs to run black
- when developers update their forks to pull back to develop (which they should do), they will also add the pre-commit hook which will run on any updates to their

[2021-09-24 23:54] danielsclint commented on #488
I like @e-lo suggestion of a pre-commit hook. I'm not necessarily wed to Black, but I do feel like we need a format enforcer like Black or AutoPep8. It eliminates any subjected, personal formatting bias (in addition to ensuring diffs are diffs). Removing that subjective bias is great, because I don't ever have to call-out someone for using a tab instead of 4 spaces and other nitpicky formatting is

[2021-09-29 18:08] bstabler commented on #431
Thanks @esanchez01.  I looked into the reported runtime differences for your 1, 2, and 3 zone setups and have a couple of findings and some improvements (in the commit above) to the 2 zone setup to reduce runtimes.

1.  Some of the difference in runtime is due to memory needs, memory available, and the use of chunking.  The runtimes for tour and trip mode choice from your 320GB chunked run and my

[2021-09-29 22:06] bstabler opened #491 "intermediate stop location choice model calculations are incorrect for stops on the inbound leg of a tour"
from @jfdman.  We suspect the intermediate stop location choice model calculations are incorrect for stops on the inbound leg of a tour.  The way it should work is that for each sampled stop, there are two distance/logsum components. One from the last known location to the sampled stop location, and another from the sampled stop location to the next known location. For outbound stops, the last kno

[2021-09-29 22:18] bstabler commented on #491
The fix committed above consists of two parts:

  - add a new column in the preprocessor called `tour_leg_dest`, which evaluates to the tour destination for outbound trips or the tour origin for inbound trips.
  - set the definition of the `primary_dest` skim lookup setting in the model yaml config to this new column.

This changes the `p` in the skims `dp` lookup to tour dest or tour origin depen

[2021-09-29 23:29] jfdman commented on #491
Did the bug also affect mode choice logsum calculations for the stop->origin leg on inbound stops? If so this code also needs to be fixed. Please also confirm that the time periods used in these calculations are correct (departure period for outbound stops, arrival period for inbound stops).

[2021-09-30 15:38] bstabler commented on #491
It did, but the fix works for the logsums too.  The code to setup the logsums request is inside trip destination.  The time periods for the lookup are set in the trips preprocessor based on tour.start or tour.end depending on trip.inbound.

[2021-09-30 19:31] mxndrwgrdnr opened #492 "Set chunk_size to 0 if chunk_training_mode is disabled"
If `chunk_training_mode == "disabled"`, the ChunkSizer `rss` and `uss` attributes get set to 0, effectively turning off chunking altogether. But if a non-zero chunk size is still read from settings.yaml, the main `chunk_size` settings remains set to that non-zero chunk size, both in the ChunkSizer `chunk_size` attribute and in main `settings` injectable. This can and will cause mp_tasks to throw a

[2021-09-30 19:41] mxndrwgrdnr commented on #492
Fixed in #481. Will close once PR is merged.

[2021-09-30 20:05] mxndrwgrdnr opened #493 "Combine all settings (specified + inhereted) into one .yaml and store as output"
Proposed workflow:

1. `activitysim run -c configs -c configs_defaults` where "configs" has only a few model settings .yaml's and a few updated settings in settings.yaml with `inherit_settings: True`.
2. ActivitySim generates `output/settings_used/` directory at the end of the run, containing every model settings .yaml used in the run along with a single settings.yaml where `inherit_settings: Fals

[2021-10-01 01:09] mxndrwgrdnr opened #494 "cli standard args overwritten by config.py"
Currently ActivitySim command-line input runtime args are handled by `cli.run.handle_standard_args()`, which loads each of them as injectables here: https://github.com/ActivitySim/activitysim/blob/master/activitysim/cli/run.py#L95-L114

Oddly enough, these very same arguments are defined a second time in "core/config.py" [here](https://github.com/ActivitySim/activitysim/blob/master/activitysim/cor

[2021-10-04 21:48] esanchez01 commented on #431
@bstabler, I included your changes in the SANDAG 2 zone setup and reran on our server. Both the sub models and the overall run ran about 25% faster -- down to ~140 minutes and ~180 minutes, respectively. Tour mode choice saw the most improvement (~19 minutes to 3 minutes) and improvements were seen across other sub models, consistent with what was observed from your test. I am attaching the result

[2021-10-07 16:43] bettinardi opened #496 "Long Distance Travel Module"
Ohio and Oregon (ODOTx2) have pooled money to develop an LDT for ActivitySim.  ODOTx2 have long term interest in this, as both of their statewide models currently have LDT representation.  Other geographically large ActivitySim implementations might desire to use specific representation of longer distance travel (ODOTx2 models handle trips shorter than 25miles different than long distance travel d

[2021-10-07 16:51] bettinardi opened #497 "Joint Estimation Enhancement to ActivitySim"
The Oregon Modeling Steering Collaborative (OMSC) is currently designing a statewide survey (across all MPOs), as Oregon has done over the last several decades.  As this survey is being completed, OMSC has interest in completing a joint ActivitySim estimation across all MPO model regions in the state (or as many regions as possible).  The current understanding of the estimation feature in Activity

[2021-10-07 16:58] bstabler commented on #491
I'll fix the examples before we release

[2021-10-07 17:39] bstabler commented on #433
this was completed under #480

[2021-10-07 17:39] #433 closed, assigned to danielsclint

[2021-10-07 17:42] bstabler commented on #488
We agreed on the 10/7 call to try this after all the open PRs are merged and we're about to release the next version since this will be the least inconvenient moment.

[2021-10-07 17:43] bstabler commented on #483
We agreed on the 10/7 call that @joecastiglione will work on getting a process/governance docs update team together to formalize/memorialize this process.

[2021-10-07 17:44] bstabler commented on #484
We discussed on the 10/7 call that this task will remain open until the PR is accepted

[2021-10-07 17:49] bstabler commented on #431
@esanchez01 - did you fix the /100 issue as well?  If so, can you PR your improvements to the fewer-maz-maz-data-calls-for-sandag-two-zone branch?

[2021-10-07 17:50] bstabler commented on #431
This issue will be closed once we update the examples with the reduced and reused expressions

[2021-10-07 17:51] bstabler commented on #460
We agreed on the 10/7 call that I would update the documentation.

[2021-10-07 17:54] bstabler commented on #442
I need to update the regression test files for the example and then we can close this issue

[2021-10-07 18:31] bstabler commented on #431
And we'll create a new issue to look into the trip_destination model since it remains the slowest submodel.

[2021-10-08 20:55] stevenhz opened #498 "destination_logsum"
I have a question about "destination_logsum". In my simulation, I see when "Destination_logsum" is NaN, there is still a valid destination zone number selected. The NaN is probably because all mode choices are not suitable for the destination, which results in a log(0) issue, right?  I would also like to know when logsum is NaN, how is the destination zone selected?  Thanks for helping.

![image](

[2021-10-09 14:33] #498 closed, assigned to nobody

[2021-10-12 00:17] bstabler commented on #485
_However, you could instead point the input_table_list households and persons settings to the survey_tables households and persons files to avoid having somewhat duplicative tables_

@mxndrwgrdnr suggested I do this in the [example_estimation](https://github.com/ActivitySim/activitysim/blob/master/activitysim/examples/example_estimation) to make the setup more intuitive to the user.  I think this

[2021-10-12 03:26] janzill opened #499 "chunking on linux"
On Ubuntu18.04 and probably other linux systems, chunking does not seem to be working correctly. When [adjusting memory chunks for sub tasks](https://github.com/ActivitySim/activitysim/blob/722d6e36b2210d5d24dfa2ac4a3504c1e8f75336/activitysim/core/mp_tasks.py#L735), the shared memory correction is [different for linux compared to win/mac](https://github.com/ActivitySim/activitysim/blob/722d6e36b22

[2021-10-12 15:40] esanchez01 commented on #431
@bstabler, I have not yet fixed the /100 issue but will get to it, as well as updating additional expressions, soon. Since the SANDAG examples pull MTC and PSRC expression files, I won't be making updates directly to these files but probably just storing the updated expression files in the SANDAG example directories.

[2021-10-13 21:52] bstabler commented on #499
Let's close this issue and continue the discussion on #500

[2021-10-13 21:52] #499 closed, assigned to nobody

[2021-10-13 21:59] bstabler commented on #431
We're going to create a new issue for the /100 issue.

[2021-10-13 21:59] #431 closed, assigned to bstabler

[2021-10-13 22:01] bstabler opened #501 "trip_destination is slowest module"
As illustrated in the #431 runs, trip_destination is the slowest module.  It takes about 1/3 of submodel runtime in the latest sandag two zone setup example.  We want to further investigate it in the hopes of speeding it up.

[2021-10-13 22:06] bstabler opened #502 "example_mtc transit skims /100"
As explained in #431, the transit skims in the example_mtc (and possibly other derivative examples) expressions have /100 in them, which is a hold over from the MTC skims, which are Cube TRANPLAN skims, which are scaled ints and therefore need to be /100 before use. These should be dropped if not needed.  @esanchez01 is going to look into fixing this by replacing the 100 with a global constant tha

[2021-10-13 23:11] #460 closed, assigned to jpn--

[2021-10-14 22:24] bstabler commented on #485
The commit above doesn't work for the existing estimation example files since the household auto_ownership variable is different in the input households table versus the override survey files.  This was likely done to illustrate/test how the auto_ownership variable can be overridden with the survey value in estimation mode.

This is a bit complicated since the work location model is run before the

[2021-10-14 23:15] #476 closed, assigned to bstabler

[2021-10-19 20:22] bstabler commented on #496
As discussed on the 10/19/21 call,
    - Alex (@bettinardi) and Rebekah (@rls-odot) introduced the effort
    - They shared the scope for comment by next week
    - Would be good to create an example_long_distance like the other [examples](https://github.com/ActivitySim/activitysim/tree/master/activitysim/examples) so the code added for the model is backed by tests moving forward
    - Some of the

[2021-10-19 20:31] bstabler commented on #497
@bettinardi discussed this effort on the 10/19/21 call,
  - May be some kind of bundler of multiple estimation data bundles (EDBs) across model setups
  - Or a way to point larch to multiple directories of data (EDBs) for joint estimation
  - Larch already does some of this so it feels doable
  - May need to make improvements to estimation mode, like sampling of destinations and times-of-days and

[2021-10-21 16:03] bstabler commented on #484
this has been merged so I'm closing the issue

[2021-10-21 16:03] #484 closed, assigned to wusun2

[2021-10-21 16:05] #492 closed, assigned to nobody

[2021-10-21 16:12] bstabler opened #508 "allow non-mandatory tour destination in_period out_period for logsums to vary by purpose"
@jfdman requested that [non-mandatory tour destination in_period and out_period time periods for logsums](https://github.com/ActivitySim/activitysim/blob/master/activitysim/examples/example_mtc/configs/non_mandatory_tour_destination.yaml#L37) be allowed to vary by purpose.  I looked at the travel model one UECs used for the development of this submodel, and the non-mandatory tour destination UECs

[2021-10-22 19:57] bstabler commented on #432
I checked the travel model one UECs ([tour mode choice](https://github.com/BayAreaMetro/travel-model-one/blob/master/model-files/model/ModeChoice.xls) and [trip mode choice](https://github.com/BayAreaMetro/travel-model-one/blob/master/model-files/model/TripModeChoice.xls)) and the ActivitySim setup is consistent.  As a result, I'm hesitant to revise the example.

[2021-10-22 19:57] #432 closed, assigned to bstabler

[2021-10-22 20:34] #508 closed, assigned to bstabler

[2021-10-25 14:01] #491 closed, assigned to bstabler

[2021-10-26 15:38] #502 closed, assigned to esanchez01

[2021-10-27 17:07] bstabler commented on #483
see also #496

[2021-10-31 22:18] stevenhz opened #514 "work/school location choice"
Dear Sir,

I have 2 questions regarding the school/work location choice: in my simulation, It turns out that the number of work tours is about 2x of the number of school tours.

1.  Is this because in the land use data, the number of employees is about 2x of the number of students (primary school, high school, university)?
2. Suppose the destination choice estimation causes an overestimating of th

[2021-11-02 00:03] bstabler commented on #485
We updated this and merged to develop

[2021-11-02 00:03] #485 closed, assigned to bstabler

[2021-11-05 17:53] #442 closed, assigned to bstabler

[2021-11-10 20:20] bstabler commented on #443
see work being done at https://github.com/ActivitySim/dashboard

[2021-11-16 17:16] bstabler commented on #392
this was fixed

[2021-11-16 17:16] #392 closed, assigned to nobody

[2021-11-16 19:18] dhensle commented on #514
@joecastiglione do you want to reply to this?

[2021-11-18 01:28] joecastiglione commented on #514
Re: Q1, If the number of workers in your synthetic population is roughly double the number of students, then yes this is the most likely explanation, as most workers on average make just under 1 work tour per day, and most students on average make just under 1 school tour per day.

Re: Q2, To clarify, is the issue that the number of work tours destined to a particular TAZ or TTAZs is overestimated

[2021-11-18 18:00] jpn-- opened #528 "Automatic generation of high quality data dictionary"
ActivitySim currently is capable of generating a simple data dictionary using the [`write_data_dictionary`](https://github.com/ActivitySim/activitysim/blob/3df695bd2bf921aa46d296a09889b68087b8c911/activitysim/core/steps/output.py#L82) component.  The result is a listing of table columns in each table, giving name, dtype (int, float, string, etc.) along with the checkpoint where the column was adde

[2021-11-18 18:04] dhensle commented on #443
See [visualization product document](https://docs.google.com/document/d/18MCr2m48b6n_bMaxKeicBQ7HQ_3AZ_4QkhAG6fqBavc) for details

[2021-11-18 21:09] stevenhz commented on #514
Dear joecastiglione,

Thanks for your answer for Q1.  For Q2, I would elaborate it a bit more:
1. 10% of the total HH is used for simulation, shadow pricing is disabled. As far as I understand, shadow pricing is recommended for full samples.
2. The ratio between the number of work tours and school tours from the simulation is 2.2
3.  The ratio from the survey data is about 1.29. However, the surve

[2021-11-19 22:03] jpn-- commented on #488
I've discovered an issue with pre-commit that makes it unappealing for use on Windows when also using conda.  https://github.com/pre-commit/pre-commit/issues/1329

[2021-11-19 23:24] jfdman commented on #514
Hi, thought I'd chime in here. The number of work and school tours is directly related to the attributes of the synthetic population, not the input land-use data. If you are getting too many or too few work or school tours, a good starting point is to look at how work status and school status are coded in the synthetic population, and the number of workers/students in the synthetic population comp

[2021-11-23 09:47] stevenhz commented on #514
Hi Joel,  thanks for your explanation.

[2021-11-30 10:12] stevenhz opened #529 "parking duration at destination and origin."
I have a question regarding the parking duration in the _example_mtc/configs/trip_mode_choice_annotate_trips_preprocessor.csv_
[code]

![image](https://user-images.githubusercontent.com/15105936/144026808-587008cb-83b4-4e33-b189-6e0d8b3bda81.png)
Suppose the _~free_parking_at_work_ is True.  Taking the example of person_id = 1619, this person's first trip 531081, which is an outbound trip, I would

[2021-11-30 10:12] #514 closed, assigned to joecastiglione

[2021-12-08 00:44] jfdman commented on #529
@dhensle can you please look into this? Thanks!

[2021-12-09 15:49] #469 closed, assigned to bstabler

[2021-12-09 16:18] jfdman commented on #388
@bricegnichols can this issue be closed?

[2021-12-09 16:19] #386 closed, assigned to nobody

[2021-12-09 16:19] jfdman commented on #386
We have run shadow pricing on SEMCOG and MWCOG and it appears to be working as expected.

[2021-12-09 17:22] jfdman opened #530 "Investigate whether combinatorial alternative generation code can be merged"
Both the vehicle type model and the trip departure scheduling model generate combinatorial alternatives on the fly. Can the code to generate these alternatives be shared/combined? Note that there are differences, where trip departure alternatives are tour-specific, while vehicle type choice alternatives are generic to all decision-makers.

[2021-12-09 17:36] jfdman commented on #373
I think this issue is now a Usability improvement to throw a warning if the period definitions are not the same

[2021-12-09 23:42] bricegnichols commented on #388
I haven't checked to see if it was ever resolved, so we can close it for now and revisit later if needed.

[2021-12-09 23:42] #388 closed, assigned to nobody

[2021-12-16 17:14] danielsclint commented on #429
This can be closed for now.

[2021-12-16 17:14] #429 closed, assigned to nobody

[2021-12-16 17:16] danielsclint commented on #331
This was implemented to support Larch, and the implementation is more clear. Closing this issue.

[2021-12-16 17:16] #331 closed, assigned to nobody

[2021-12-16 17:57] jpn-- opened #531 "Review of governance"
The consortium has identified that we should review our formal governance document, which has not been reviewed in its entirety in a few years.  Partners and collaborators are invited to propose edits and comments here:

https://docs.google.com/document/d/1i33o6LasqMJuQ_vZGLphtRiHBPY1zuNimYI7B4jWV_I/edit?usp=sharing

In addition to proposing changes, in particular please add comments about any ind

[2021-12-30 07:14] xhochy commented on #488
Should be fixed now 🥳

[2022-01-04 22:03] danielsclint opened #533 "np.MachAr Deprecated: Tests Failing"
The latest release of Numpy (v1.22) deprecated [np.MachAr](https://github.com/numpy/numpy/pull/20201). This cause the Numba decorators in ActivitySim's [initialize_los](https://github.com/ActivitySim/activitysim/blob/master/activitysim/abm/models/initialize_los.py) module to fail.

[2022-01-21 15:26] jpn-- opened #535 "domain name error"
http://www.activitysim.org/ appears to me not pointing to the site at https://activitysim.github.io, it's just an empty placeholder page at networksolutions.

[2022-01-31 23:29] jpn-- opened #536 "Change name of "master" branch to "main""
I suggest we follow the "new" (from 18 months ago) [default branch naming scheme at GitHub](https://www.zdnet.com/article/github-to-replace-master-with-alternative-term-to-avoid-slavery-references/), and swap out the "master" name for "main".

This change should have minimal impact on workflow.  It will require updating docs, and anyone currently with the repo checked out may need to update their

[2022-02-03 16:13] jfdman opened #537 "Allow user to reference land-use data for destination alternatives in destination choice models"
Currently there is no way to index into the land-use data file for each destination in the destination choice models. This makes it inconvenient to add district-district constants in destination choice. The only way to reference attributes of the destination (other than the size term and/or shadow price) is to develop a TAZ-TAZ skim where every row is exactly the same and every column is the desti

[2022-02-08 21:09] jpn-- commented on #263
Python 2 is dead.

[2022-02-08 21:09] #263 closed, assigned to nobody

[2022-02-18 17:20] stefancoe opened #538 "Unable to change default parameters In location choice estimation component models."
@jpn-- In the auto ownership component model, I can pass in parameters like the edb_directory like so:
`model, data = component_model(modelname, return_data=True, edb_directory = 'C:\output3\estimation_data_bundle\auto_ownership')`

But I don't think this is possible for the location choice models like school location because the parameters are not exposed in the component model functions:
https:/

[2022-02-21 19:05] #535 closed, assigned to nobody

[2022-02-22 18:38] jpn-- commented on #533
This is a known issue in numba when running with numpy 1.22. https://github.com/numba/numba/issues/7758

Going to constrain us to numpy 1.21 until numba is fixed.

[2022-03-02 23:25] stefancoe opened #541 "Document skim definitions for MTC Example"
A detailed list of skims, including a description of each skim measure and units, would really help implementation. We have been relying on these:

https://activitysim.github.io/activitysim/examples.html#trip-modes
https://github.com/BayAreaMetro/modeling-website/wiki/TravelModes

I vaguely remember another link so perhaps it already exists.

[2022-03-03 15:50] stefancoe commented on #541
For example, we are trying to figure out what the skims on line this [line](https://github.com/ActivitySim/activitysim/blob/master/activitysim/examples/example_mtc/configs/accessibility.csv#L23) are representing. For one, how are the 'TRN' skims different from the transit sub mode specific skims such as 'LOC'? Do they represent the best (least) transit impedance for each OD? Secondly, if 'WACC' an

[2022-03-05 00:00] mnbina commented on #541
MTC to update this page: https://github.com/BayAreaMetro/modeling-website/wiki/SimpleSkims
The activitysim documentation (https://activitysim.github.io/activitysim/examples.html#trip-modes) can link to the updated MTC Simple Skims page .

[2022-03-08 20:05] ray-ngo opened #543 "Minimum computer specifications to conduct a chunk-size training run"
MWCOG staff encountered an _insufficient resources_ error when running a chunk-size training run for our Gen3, Phase I, Model on a server with 128 GB of RAM and 12 physical cores. Here are our questions:

1. How do we know if the chuck size training run failed due to RAM versus due to lack of enough processors? The log file does not help answer this question.
2. What are the minimum requirements,

[2022-03-08 20:50] jpn-- commented on #543
Your chunk training attempt failed due to a lack of RAM.  There is no minimum number of processors required for ActivitySim (if you are patient).  But you do need enough RAM to load the skims plus at least a little extra to work in.  How much that is depends on the number of zones, the number of modeled time periods, and the number of different tables represented.  Thus, the minimum RAM needed is

[2022-03-08 21:22] JilanChen commented on #543
SEMCOG ABM run into the same issue in one of our machines (128 GB RAM and 24 cores). Currently, RSG/SEMCOG are still investigating into the cause of the issue. SEMCOG ABM Phase I (one zone system) used to be able to run with this machine but this OSError started to pop up a few months ago. When we monitored the computer performance, the highest memory use is at about 90 GB so not sure if it's RAM

[2022-03-08 22:14] stefancoe commented on #543
What model is causing the crash? What are your chunk settings? Have you been able to run the model to completion with a smaller household sample size? I would try reducing the chunk_size and see if that helps. Also, the number of processors should be a few below the total number available.

[2022-03-09 15:06] JilanChen commented on #543
Currently, we are testing in the training mode with the Chunk_size: 100_000_000_000 and num_processes: 20. The crash for SEMCOG's ABM mostly happened during the time of running "workplace_location".

[2022-03-09 16:09] ray-ngo commented on #543
It is good to know that there is no requirement for the number of processors. We can upgrade RAMs on our older servers (which have less cores and little RAM) to run our ActivitySim model. Thanks @jpn-- !

RSG told us that our model needs around 110 GB of RAM to run, while we set the chunk_size variable at 102 GB (80% of the available RAM) in our testing run. I guess we have to set the chunk_size v

[2022-03-09 16:38] AndrewTheTM commented on #543
One thing that would be nice out of ActivitySim is better RAM logging and reporting. Using a completed run of @ray-ngo 's model above, the logged RAM maximum values are:

rss: 76,714,344,448 (77 GB)
full_rss: 1,247,299,629,056 (1.2 TB)
uss: 76,975,316,992 (77 GB)

So the model won't run on a 128 GB server set with a chunk_size of 102 GB, and the server I used has 244 GB. The skims need 76.6 GB (ac

[2022-03-09 17:26] stefancoe commented on #543
@ray-ngo Here is the documentation for multiprocessing:
https://activitysim.github.io/activitysim/core.html#multiprocessing

When using mp without chunking, ActivitySim breaks the 'problem' (where the problem is often a very large table of choosers and alternatives) into parts equal to the num_processors argument. So 10 processors = 10 tables. Next, the program works on each table in parallel, one

[2022-03-09 19:43] jfdman commented on #543
Has anyone tried the system registry changes suggested here: https://stackoverflow.com/questions/53752487/oserror-winerror-1450-insufficient-system-resources-exist-to-complete-the-req
?

[2022-03-09 19:56] aletzdy commented on #543
I tried the registry change option in addition to the other suggested fixes here on SEMCOG's 128GB server, and it did not help.

[2022-03-15 14:29] jpn-- opened #544 "Pass through keyword args for models in estimation"
In  #539 we made it so kwargs could pass through for location choice model estimation.  The same treatment should be applied to other models as well (e.g. auto_ownership, etc.)

[2022-03-16 14:27] jpn-- opened #545 "Need OP_SKIMS in trip destination model / error in ARC example model"
There is a line in the spec for the example ARC model marked with the comment:

https://github.com/ActivitySim/activitysim/blob/master/activitysim/examples/example_arc/configs/trip_destination.csv#L16

It appears that whomever was building this file wanted to access three kinds of skim references:
1. od_skims = fixed-origin to stop-location
2. dp_skims = stop-location to fixed-primary-destination

[2022-03-16 15:27] guyrousseau commented on #545
Thanks Jeff for bringing this up to our attention. Indeed the ARC ActivitySim example is merely a prototype model application at this point in time. That said, we at ARC will confer with @i-am-sijia at WSP to get this taken care of, in accordance with your aforementioned observations and suggestions. Hence for now, this issue shall remain open until properly addressed and resolved.

[2022-03-18 23:43] dhensle opened #546 "Writing additional columns to output tables"
The user cannot add columns that are calculated in the pre-processor to the final output tables.  (Some models do have optional "annotate" steps to populate columns, but not all.  They also do no have access to the variables calculated in the pre-processor).

An example case for this would be calculating value of time bins in trip mode choice depending on attributes of the trip, but not being able

[2022-03-21 22:47] jpn-- opened #547 "Bitwidth expectations"
The current ActivitySim implementation generally does not explicitly define bitwidths for numerical values, but instead allows numpy to self-select the numerical precision.  This generally results in double precision floats almost everywhere that floats are used.

As we migrate to sharrow, we have the burden and opportunity to be more intentional about numerical precision.  We can continue to use

[2022-03-24 15:12] guyrousseau commented on #547
Thanks Jeff for bringing this up to our attention. I can confirm that within our ARC trip scheduling choice (see attached, rows 81-82) there is a calibration parameter of -100 as you noted.  In terms of the rest related to how ActivitySim deals with numerical precision, that’s definitely something to look further into, as we move forward with this project
[trip_scheduling_choice.csv](https://githu

[2022-03-29 00:46] guyrousseau commented on #547
One more note: The way probabilities are resolved in UECs, we use -999 to signal a condition that makes an alternative unavailable. I’ve also seen -99 or other similar large values. Looks like this was ported over to the ActivitySim implementation.

Given the implications of numerical precision, it looks like we’ll need to be either more intentional about the value used, or find another way to ind

[2022-04-01 04:15] mnbina commented on #547
From today's meeting: the main decision is whether or not it would be ok to switch to float32. Please add comments here in support or not, additional questions or comments, etc. that would support resolution on this issue.
https://github.com/ActivitySim/activitysim/wiki/Project-Meeting-2022.03.31

[2022-04-01 23:28] FlaviaTsang commented on #541
Hi @stefancoe, thanks for letting us know about these gaps in our documentation. To address your questions, I added a TransitSkims page to our wiki: https://github.com/BayAreaMetro/modeling-website/wiki/TransitSkims.

About the generic TRN skims, they represent paths found in which all line-haul modes are treated equally. They are created for accessibility calculations. Please see a more detailed

[2022-04-02 00:34] guyrousseau commented on #547
Thanks @mnbina for posting this, and for an additional reference, see https://stackoverflow.com/questions/43440821/the-real-difference-between-float32-and-float64

[2022-04-07 14:58] jpn-- opened #548 "Feature Request: Reversible mapping of codes/aggregation"
One comment I will make: I feel as though the way the aggregation maps are currently defined isn't super user-friendly. For example, the major access trip mode in the MTC example it's currently defined as follows:

[code]

While this can be directly input into the ``pd.Series.map()`` function, the same information could be given by the following:

[code]

This is less repetitive and more readable.

[2022-04-07 15:33] stefancoe commented on #541
Hi @FlaviaTsang, thanks for adding the documentation- it's super helpful!

[2022-04-21 14:57] jpn-- commented on #501
This is addressed in #542.

[2022-04-21 14:57] #501 closed, assigned to nobody

[2022-04-21 15:12] jpn-- opened #550 "Clean up documentation of the base MTC example"
There is documentation for the inputs of the demo "MTC" model here:

https://activitysim.github.io/activitysim/examples.html#inputs

But it isn't formatted well and it is hard to read and follow.  These docs could benefit from an effort to tidy them up and include links to MTC's documentation for the original TM1[.5] that has data dictionaries, including for skims as added in #541, additional expl

[2022-04-21 15:13] #541 closed, assigned to jpn--

[2022-05-11 21:57] stefancoe opened #567 "Documentation missing 'access_dist_transit' landuse field"
The field 'access_dist_transit', if it exists, is used for the walk access/egress component for transit in tour mode choice. If it does not exist, the model uses a constant. The field is missing from both the [documentation](https://activitysim.github.io/activitysim/examples.html#land-use) and the MTC Example Data.

https://github.com/ActivitySim/activitysim/blob/master/activitysim/examples/exampl

[2022-05-11 22:03] stefancoe commented on #541
Hi @FlaviaTsang - sorry to revisit this issue. In the [documentation](https://github.com/BayAreaMetro/modeling-website/wiki/TransitSkims) you posted it says:

'In comparison, the non-generic line-haul mode skims have mode-specific perceived time factors that are set to be lower for the given line-haul mode than other line-haul modes.'

Just to clarify, do the skims themselves represent the perceiv

[2022-05-19 02:00] janzill opened #568 "Feature suggestion: Econometrically consistent simulation of multinomial and nested logit choices"
I'd like to get feedback on a proposed pull request that would add econometrically consistent simulation of multinomial and nested logit choices.

## Background

ActivitySim simulates the results of its model steps, i.e. it makes a concrete choice for each decision maker for each sub-model when running a model. The way this is currently done is with a common Monte Carlo method, see e.g. chapter 3.

[2022-05-19 22:30] FlaviaTsang commented on #541
Hi @stefancoe, the skims themselves represent actual time and perceived time is only used for path building. I'll update the documentation to make sure that this is clear. Thank you for pointing this out!

[2022-05-20 18:05] stefancoe commented on #541
Thank you @FlaviaTsang !

[2022-05-21 21:26] jfdman commented on #568
Sounds like a great idea. I am curious whether the randomly-drawn unobserved utility component for each alternative should be included when calculating the logsum of the model, in the case that the logsum is necessary for upstream model components. For example, if a decision-maker has a relatively high unobserved utility for transit, should their mode choice logsum reflect this such that destinati

[2022-05-23 11:26] janzill commented on #568
Hi @jfdman, thanks for the comment! At the moment, the implementation is such that logsums are independent of random utility terms (i.e. they are expectation values of the maximum utility for a given choice model) and as such no information on the individual random components is passed upstream. It's really just a replacement to how the draws for MNL and NL models are performed currently and logsu

[2022-05-31 21:19] stefancoe commented on #550
@jpn-- @bricegnichols and I put together the attached skim definition spreadsheet and we are hoping it can be the starting point for a table that gets added to the documentation. This is based on our understanding of things, so it needs to be validated. One thing that we are not totally sure of is units for each skim. @FlaviaTsang could you verify/fill in the Units of Measurement column? Thanks!
[

[2022-06-01 22:00] i-am-sijia opened #569 "Improve Joint Tour Participation Model"
Joint tour frequency model generates household joint tours. Then joint tour composition model determines if a joint tour is: 1 = Adult-only, 2 = Children-only, 3 = Mixed.  Lastly, joint tour participation model is applied to household members independently to determine if each member is participating in joint tours or not.  Number of participants of a joint tour is an outcome of the tour participa

[2022-06-03 17:08] jpn-- opened #570 "Measuring big USS on Windows"
The psutil library cannot measure USS values greater than 2^37 bytes on Windows.  That's about 128GB.  The limitation is hard-coded [here](https://github.com/giampaolo/psutil/blob/4f053312934cdca739c3fefe4ada8a4f2d096bdd/psutil/_psutil_windows.c#L523).

This limitation probably doesn't matter in practice -- if we're using chunking it's cause we don't want to use that much RAM in one process.  If w

[2022-06-21 08:32] XumingGao opened #573 "larch conflicts with skims.omx"
We have packaged some python files for convenience. And when packaging estimation codes together, there are conflicts if we import larch. The '_read_skims_from_omx' part fails. The 'skims.omx' contains 116 skim matrices but 0 read.
We downloaded larch with 5.6.1 and asim 1.0.4.
Is that a general issue?

[2022-06-21 12:06] jpn-- commented on #573
I’m not clear on what you mean by “ packaged some python files for convenience”. Can you elaborate?

If you are moving files around, it is possible your skim reading is not finding the files to read at all.  Is it raising an error with a trace back you can share?

[2022-06-21 14:56] XumingGao commented on #573
Well, the estimation work needs to run Activitysim Estimation Mode first and then Larch Jupyter Notebooks, separately. We wrote a PY file to gather both parts' codes and try to run it automatically. And we failed at the omx read part. The log file named 'failed with larch imported.log' is shared below. Even if we removed the second part codes(codes in the Notebooks), the error log remains the same

[2022-07-05 16:51] jfdman commented on #569
A third option would be to build a choice set from household members and make a choice instead of using the utility ranking procedure. This would provide a lot of flexibility in terms of specifying the utility function (with interaction terms), and also eliminate the need for a party type model. For a 5 person household there would be 26 alternatives, for a 6-person household 56 alternatives.  Cer

[2022-07-05 17:00] jfdman commented on #568
Hi @janzill, thanks for the clarification. I'd be curious to see a draft of the paper if possible. I promise to keep it confidential. Thanks!

[2022-07-05 17:02] jfdman commented on #545
@dhensle please see this issue - I believe this is being addressed by the SANDAG "trip" (really stop) destination choice model - please advise.

[2022-07-06 02:26] janzill commented on #568
I've sent you an email @jfdman

[2022-07-18 17:06] gbrawn opened #575 "Processes mp_accessibility_1 failed with exitcode -9"
Running exmple_psrc_full breaks with the following traceback:
I've tried to adjust the number of processes, running with and without accessibility.

[code]

[2022-07-18 17:07] gbrawn commented on #575
I run the simulation as per the `example_manifest.yaml`
`activitysim run -c configs -o output -d data -s settings_mp.yaml`

[2022-07-18 17:12] jpn-- commented on #575
How much RAM is on the machine where you are trying to run this model?  The PSRC Full model is quite large

[2022-07-18 17:36] gbrawn commented on #575
64GB, I thought it would be plenty.
I looked for some hardware requirements but I wasn't able to find any?

[2022-07-18 17:57] jpn-- commented on #575
I don't think we've published hardware requirements for individual example models; they vary substantially across implementations.  But I believe 64GB is nowhere near enough for the PSRC full model, at least using the currently published version 1.0.4.  Upcoming releases will permit a smaller RAM footprint, but for now you need at least enough RAM to load the entire set of skims into memory, or yo

[2022-07-18 18:07] gbrawn commented on #575
What would you suggest as the minimum RAM requirement?

[2022-07-18 18:56] stefancoe commented on #575
@gbrawn We are able to run it on a machine with 128 GB of RAM, which requires an initial run using chunk training.

Also, just to be clear, the PSRC example was put together to test the mechanics of ActivitySim as a two zone implementation using PSRC data from our current ABM platform, [Soundcast](https://github.com/psrc/soundcast), which uses [Daysim](https://github.com/RSGInc/DaySim). We have no

[2022-08-03 20:14] siweih1997 opened #576 "ActivitySim Random Seed/Stochasticity Issue"
Hi ActivitySim technical support,

We are from University of California, Irvine, teaming with SANDAG. We are running Activitysim for a couple of times with **different random seeds**, to see whether it could produce the same results.

We found the `set_base_seed()` function from random.py, is related to the seeds and randomness.

    def set_base_seed(self, seed=None):
        """
        Like see

[2022-08-03 23:35] JoeJimFlood commented on #576
The place to edit the random seed is in Line 64 of [core/config.py](https://github.com/ActivitySim/activitysim/blob/master/activitysim/core/config.py#L62) (Should this be configurable in the settings file?). However, setting that value to `None` results in an error due to the data type of the random seed. I just submitted a pull request to fix that.

[2022-08-12 12:06] #538 closed, assigned to nobody

[2022-08-12 12:06] #533 closed, assigned to nobody

[2022-08-18 00:32] dhensle opened #587 "Extension of Vehicle Type Model to Include AVs"
RSG is extending ActivitySim to consider autonomous vehicles (AVs) for consortium partners MWCOG and SANDAG.  One implementation option is to treat AV's as an extension of body type in the vehicle type model.  e.g. car would be split into car and car_av.  This new body type would just have to be included in the [vehicle type data file](https://github.com/ActivitySim/activitysim/blob/master/activit

[2022-08-18 14:05] bettinardi commented on #587
I'm curious if this issue exists for both implementations of the vehicle model.  I forget what they are called now (we should ensure we have good names), but during construction I believe the two implementations that moved forward were option 4 and 2.  Maybe we call them detailed and simplified or something.  Anyway, I hope it is the intent to ensure that AV specification works for both options, a